{% extends 'wap/base/base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="error-wp">

        <section class="error-bg">
            <div class="road"></div><div class="car"></div>
        </section>
        
        <section class="error-wording">
            <p>恭喜你！</p>
            <p>探索到了一个未知的领域！</p>
        </section>
        
        <section class="error-btn">
            <a href="#">返回首页</a>
        </section>
        
    </div>
{% endblock %}