{% extends 'wap/base/base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="error-wp">

        <section class="bg-502">
            <div class="bg"><span class="blbl"></span></div>
        </section>
        
        <section class="error-wording">
            <p>哎呀！</p>
            <p>我们的服务器去开会啦！稍等哦！</p>
        </section>
        
        <section class="error-btn">
            <a href="#">刷新</a>
        </section>
        
    </div>
{% endblock %}
    
