{% extends 'wap/base/base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="error-wp">

        <section class="bg-upgrd">
            <div class="bg"><span class="rd1"></span><span class="rd2"></span></div>
        </section>
        
        <section class="error-wording">
            <p>吼吼！</p>
            <p>网站升级维护中……</p>
        </section>
        
        <section class="error-btn">
            <a href="#">刷新</a>
        </section>
        
    </div>
{% endblock %}
    
