{% extends 'base/base.html' %}
{% import 'base/about_sidebar.html' as sidebar %}
{% block title %}关于我们 - {{platform}}{% endblock %}
<!-- 获取品牌 -->
{% set rBrand  = request.GET.get('brand',0)|int %}
{% block css %}
    {{ super() }}
    <link href="{{ static('site/css/page/about.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
    {{ super() }}
    <script src="{{ static('site/js/page/about.js') }}"></script>
{% endblock %}
{% block main %}
	<div class="about-wrap mainbody clearfix">
       <!-- <div class="m-crumb">
            <span>当前位置：</span>
            <a href="/{{city.city_alias}}">首页</a>
            <span class="separator">></span>
            <a href="/{{city.city_alias}}/html/site/about">加入我们</a>
        </div>-->
        {{ sidebar.sidebar_macro() }}
        <div class="content">
            <h1>关于我们</h1>
            <ul>
                <li>
                    <h2 id="area_intro"><i></i>我叫车巴巴</h2>
                    <div class="article">
                        <p>大家好！初次见面，先做个自我介绍，我叫车巴巴，是东风日产旗下指定的官方购车平台，由东风日产数据服务有限公司创立，并于2015年8月8日上线公测。别看我还是个小鲜肉，取得的成就可不少，仅一年时间，便荣获2015企业级自媒体价值榜TOP15、互联网汽车电商联盟发起单位等荣誉，还通过4PS国际标准L1五星认证，这在汽车行业可是首家哟。<p>
                        <p>
                        别以为我在吹牛皮，在我这，实惠、便利、个性、尊贵的购车体验随处可享。不信你上来看看www.chebaba.com 。
                        </p>
                        <p>平时和大伙关系处得好，厂家优惠、专营店优惠我都能搞来，遇上店庆周年庆，免费送你个礼包加抽奖也是无问题啊，够实惠吧！
                        </p>
                        <p>便利更不用说，只需在手机上输入m.chebaba.com，一系列售前、售中、售后服务轻松搞定。</p>
                        <p>最近还新增了异业合作，只要成为我家的会员，不仅买车有优惠，合作平台上的优惠券，随便花，个性化体验就是这般任性。</p>
                        <p>最重要的是，我们的服务意识超强，只要你愿意，可以和在线客服聊一个下午，我们的专业水平保证把你收拾得服服帖帖的。想要买进口车，一对一专属服务双手奉上，绝对的国宾级待遇。</p>
                        <p>那么，车巴巴平台到底能为你提供什么具体服务？五大综合频道告诉你。</p>
                    </div>
                </li>
                <li>
                    <h2 id="area_culture"><i></i>五大频道</h2>
                    <div class="article">
                        <h3>惠挑车</h3>
                        <p>假设你看上了东风日产的某一款车，在惠挑车频道，你就能搜索出这款车型相应的地区报价、金融信息、当前的优惠活动等，迅速帮你挑出最适合的一款。<p>
                        <h3>找好店</h3>
                        <p>经销店太多，不知道怎么选？到找好店来比对一下，这家店有没有你想买的那款车？价格合不合你心意？一目了然。</p>
                        <h3>享活动</h3>
                        <p>各地经销商活动都在这了，周周上新，精彩纷呈，想参加哪个就报名吧。</p>
                        <h3>限时购</h3>
                        <p>这里是优惠券的天下，特价车的主战场，好运的你，又怎能错过。</p>
                        <h3>任性贷</h3>
                        <p>打算买车，预算不足怎么办？到任性贷频道来，多样化的金融购车方案，总能帮上你的忙。不放心还可以在线查询贷款额度，购车全然心里有数。</p>
                        <p>从选车到购车，车巴巴从头跟到尾，只为让你省心，替你省钱。选心动座驾，一定要上车巴巴喔！</p>
                    </div>
                </li>
                <li>
                    <h2 id="area_duty"><i></i>车巴巴愿景</h2>
                    <div class="article">
                        <p>每个人都有一个愿望，车巴巴也不例外。秉承东风日产人·车·生活的企业理念，车巴巴也希望为你打造一个买车实惠、养车轻松、车生活丰富的多元化购车平台以及丰富多彩的综合服务平台。买车，上车巴巴，养车，也上车巴巴，汽车生活，车巴巴上同样可以享受。愿车巴巴能成为这样一个温暖、贴心、被需要的大家。盼着每一位家人常回家看看 ！</p>
                    </div>
                </li>
                <li>
                    <h2 id="service"><i></i>服务条款</h2>
                    <div class="article">
                        <p>车巴巴提醒用户：在使用车巴巴之前，请仔细阅读本声明的全部条款。用户一旦连接或使用本网站，即表示用户无条件地接受本声明，用户应严格遵守本声明和相关法律的规定。</p>
                        <p>用户应自行承担使用车巴巴服务中所存在的一切风险及后果，车巴巴提供网络服务等行为不代表任何形式的明示或默示的声明或担保。</p>
                        <p>车巴巴的转载等行为并不代表车巴巴（包括车巴巴关联企业）认同该观点或证实其内容的真实性。车巴巴不对这些第三方的内容或者链接做出任何保证或承担任何责任，用户应对车巴巴提供的第三方内容或通往第三方网站的链接自行加以判断，并承担因使用而引起的所有风险。</p>
                        <p>车巴巴不作网络服务及时、安全、准确及可靠的保证。车巴巴有权随时变更、中断或终止部分或全部的网络服务，且不以事前通知为前提条件，车巴巴上述行为无需对用户和/或任何第三人承担任何责任；涉及收费服务的，车巴巴须事先通知用户方可变更、中断或终止相关服务，并根据用户实际使用服务的情况退还给用户多收取的服务费；当发生不可抗力、车巴巴不能控制的事件或本网站正常的设备维修升级而造成的网络服务中断，车巴巴对此不承担任何责任，但是车巴巴会积极协助处理善后事宜尽可能使用户免受经济损失。</p>
                        <p>车巴巴不保证经由车巴巴服务而传送的任何信息的正确性及完整性，车巴巴不对该上述信息承担任何责任，用户应对该上述信息自行判断并应自行承担风险；车巴巴有权自行决定是否删除或保留任何上述信息。</p>
                        <p>用户应自行保管车巴巴的账号和密码，并对操作其账号等行为承担全部责任。</p>
                        <p>车巴巴没有监控用户上传的信息的义务，用户因上传信息引起的任何名誉或财产损失的，车巴巴概不负责。任何用户上传信息的删除或储存失败与车巴巴无关。经用户同意并确认后，对任何违反法律规定或网站规则的上传信息，车巴巴有实施删与否的自主选择权；车巴巴实施上述删除行为给用户造成损失或其他后果的车巴巴不承担任何责任。</p>
                        <p>车巴巴有权对对用户所填写的注册资料真实性、准确性、完整性或是否违反网站规则或任何适用的法律法规进行独立判断、认定；对不符合上述规定的用户，车巴巴无须事先通知即可限制用户使用车巴巴的服务或者删除用户使用的账号以及账号里的相关内容和信息，对用户因此遭受的损失车巴巴概不负责。</p>
                    </div>
                </li>
                <li>
                    <h2 id="protect"><i></i>隐私保护</h2>
                    <div class="article">
                        <h3>第一条服务条款的确认和接纳</h3>
                        <p>本用户服务协议（“本协议”）由用户（“用户”）与东风日产数据服务有限公司（“数据公司”）订立，并适用于车巴巴提供的所有网络服务。在注册过程中，用户点击“同意”按钮（或类似同意按钮）并完成注册程序后，即表示用户完全接受本协议项下的全部条款受其约束。</p>
                        <p>用户在使用车巴巴提供的网络服务前务必仔细阅读本协议。用户在此承诺，其使用车巴巴提供的网络服务的行为即被视为用户同意并接受本协议全部条款的约束，该承诺在任何情况下不可撤销。</p>
                        <h3>第二条服务简介</h3>
                        <p>车巴巴是数据公司为用户提供网络交易服务的平台，通过车巴巴用户可查询商品和服务信息、达成交易意向并进行交易、对购买的商品和使用的服务进行评价、参与车巴巴举办的竞赛或促销活动以及使用车巴巴提供的其他网络服务。为改善用户体验及根据经营之需要，数据公司有权独立对上述网络服务的项目和内容进行不时调整。</p>
                        <p>用户使用车巴巴提供的网络服务时应遵循本协议及相关网站规则（包括但不限于数据公司于车巴巴上现已发布或将来可能发布的特定业务服务条款、声明、说明、通知公告、操作规范）。对部分网络服务所适用的特定业务服务条款与本协议之规定有冲突的，以特定业务服务条款为准。</p>
                        <h3>第三条条款更新</h3>
                        <p>数据公司有权根据国家法律法规变化及车巴巴的运营需求随时修改本协议的任何条款。一旦数据公司修改了本协议的任何条款或网站规则（以下简称“条款更新”），数据公司会在车巴巴上公示相应的最新版本（包括其生效日期）。用户有不时关注并阅读本协议及条款更新的义务。对前述条款更新，用户不接受的可立即停止使用车巴巴的网络服务。若用户在前述条款更新生效后继续使用车巴巴的网络服务将视为用户接受该等条款更新。</p>
                        <h3>第四条隐私权保护</h3>
                        <p>适用于用户并公示于车巴巴的《隐私权政策》将构成本协议不可分割的一部分。数据公司将使用商业上合理的技术与措施保护用户的注册资料及保存于车巴巴各项服务中的用户信息，但数据公司不对该等信息的安全作出任何形式的明示或默示的担保。同时，在如下情况中数据公司将有权向特定主体披露上述信息：</p>
                        <p>（a）已获取用户的同意；</p>
                        <p>（b）向数据公司授权的第三方服务提供者或数据公司的第三方合作伙伴披露；</p>
                        <p>（c）因用户参与竞赛、促销活动或遵循车巴巴所提供的网络服务的程序；</p>
                        <p>（d）依照法律法规或国家有关司法、政府机关之要求；</p>
                        <p>（e）在紧急情况下为维护车巴巴、数据公司及数据公司之关联方的利益；</p>
                        <p>（f）其他数据公司在诚信的基础上认为必要的情况。</p>
                        <h3>第五条注册和账号使用</h3>
                        <p>注册时，用户应提供真实、准确、完整的注册信息，并及时更新变动信息。用户将可以设置相应的密码。用户应自行保管账号和密码，并对其账号所进行的操作及所有活动承担全部责任。</p>
                        <p>用户完成注册后，仅取得相关账号的使用权，数据公司拥有用户车巴巴账号的所有权；用户仅可为个人及非商业的目的使用该账号，无权将账号转让、出租、赠与给任何第三方或由任何第三方继承。</p>
                        <p>用户理解：其自行承担为使用车巴巴的网络服务而使用的任何设备（如电脑、手机等）以及支付的任何费用。</p>
                        <h3>第六条知识产权与上载信息</h3>
                        <p>车巴巴提供的网络服务中包含的全部信息（包括但不限于任何文本、图片、音频、视频、数据、标识、数据编辑、商标等）以及为提供服务而使用的任何软件等均受知识产权和相关法律保护。未经车巴巴的事先书面同意，用户不得以任何方式复制、转发、分享或以其他方式使用车巴巴提供的网络服务中包含的任何信息，否则，车巴巴将依法追究其法律责任。用户以个人和非商业目的使用车巴巴的网络服务的情况除外。</p>
                        <p>部分网络服务会允许用户上载信息（包括但不限于任何文本、图片、音频及视频等）至车巴巴。用户同意对该等上载信息数据公司享有不可撤销的、永久性的、免费的、完全的许可使用和再许可使用的权利，包括但不限于复制、修改、编辑、出版、翻译、传播、表演、展示以及创作衍生内容等。用户保证对其上载的信息拥有合法的知识产权或授权，并有权使得数据公司获取上述许可使用和再许可使用的权利，即使用户已经删除某项上载信息，数据公司仍然有权继续使用该项上载信息。</p>
                        <p>用户上载的信息不得违反任何法律法规或侵犯任何第三方的合法权利或社会公共利益。除非数据公司另行承诺或法律法规另有要求，数据公司没有监控用户的上载信息的义务，用户上载信息的删除或储存失败及用户因上载信息引起的任何名誉或财产损失，数据公司概不负责。在户同意并确认的基础上，对任何违反法律规定或网站规则的上载信息，数据公司有实施删除与否的自主选择权；数据公司实施上述删除行为给用户造成损失或其他后果的车巴巴不承担任何责任。</p>
                        <p>因用户上载信息的违法或侵害第三人的合法权益而导致数据公司或其关联公司对第三方承担任何性质的赔偿、补偿或罚款而遭受损失（包括但不限于数据公司或其关联公司支出的律师费、公证费、差旅费等费用）的，用户应对数据公司或其关联公司蒙受的上述损失承担全面的赔偿责任。</p>
                        <p>本协议未以明示或默示方式授权用户使用车巴巴、数据公司及其关联公司的任何商标、服务标识、域名及其他知识产权。</p>
                        <h3>第七条侵权防范</h3>
                        <p>用户认为车巴巴的任何内容或作品侵犯用户的著作权、商标权或其他合法权利的，用户应及时向数据公司或车巴巴发出书面权利通知并提供相关证据（包括用户的身份证明和用户对争议内容有合法权利或授权的证明等）。数据公司及车巴巴在收到上述法律文件后，将会尽快依法处理。</p>
                        <p>如应司法机关、政府部门的要求或数据公司发现用户涉嫌侵犯他人知识产权或其他合法权益时，数据公司有权向司法机关、政府部门或权利人披露用户的全部登记信息及对车巴巴的使用情况。</p>
                        <h3>第八条第三方内容及广告</h3>
                        <p>第三方自行发布车巴巴提供的第三方内容或通往第三方网站的链接，用户应对上述第三方内容或者链接自行加以判断，并承担因使用而引起的所有风险。数据公司不对该等第三方的内容或者链接做出任何形式的明示或默示的声明或担保且不承担任何责任。</p>
                        <p>用户同意车巴巴有权在提供网络服务的过程中以各种方式播放广告，且车巴巴有权以邮件、短信、电话等形式向用户提供商业信息。</p>
                        <h3>第九条商品信息</h3>
                        <p>数据公司将尽合理的商业努力，使网站内展示的商品参数、说明、价格、库存等商品信息尽可能准确、详尽、完整。同时，用户明确知悉并同意，针对车巴巴上的商品信息随时可能发生的变动，车巴巴及数据公司对此不作特别通知；用户明确知悉并理解，，受限于互联网技术的发展水平及数据公司的业务经营趋势等因素的限制，车巴巴内的商品信息可能会有一定的滞后性或误差。</p>
                        <p>车巴巴内展示的商品和服务信息（包括但不限于商品和服务的名称、价格及相关描述）仅构成要约邀请；用户通过车巴巴订购商品或服务所下的订单即为购买商品或服务的要约；车巴巴及其合作伙伴有权自行决定是否就该等要约作出承诺。</p>
                        <h3>第十条收费服务</h3>
                        <p>车巴巴提供收费服务前应提示用户。对于特殊付费后才能享受的服务，只有当用户根据提示，确认同意该项服务相关的购买和支付条款时，用户才能使用该项收费服务。</p>
                        <h3>第十一条合法使用</h3>
                        <p>未经车巴巴同意，用户不应通过其他渠道和门户使用车巴巴的网络服务。用户使用车巴巴的网络服务，必须遵守所有与服务有关的中华人民共和国法律和法规，不得通过车巴巴的网络服务实施或帮助第三方实施如下行为：</p>

                        <p>（a）违反法律法规或社会公共利益和公共道德的行为；</p>

                        <p>（b）侵犯车巴巴合法利益的行为，包括但不限于发布未经车巴巴许可的商业广告或信息公告等经营性牟利行为；</p>

                        <p>（c）侵犯任何第三方的知识产权或其他任何合法权益的行为；</p>

                        <p>（d）任何可能对车巴巴网络服务的正常运转产生不利影响的行为；</p>

                        <p>（e）上载、发送或以其他方式传播包含病毒或其他危害计算机软、硬件设备正常工作的程序或资料；</p>

                        <p>（f）上载、发送或以其他方式传播任何诽谤性的、虚假的、辱骂性的、恐吓性的、淫秽的或其他任何非法的信息资料；</p>

                        <p>（g）任何侵犯或可能侵犯数据公司和/或其关联公司权利、利益的行为。</p>

                        <p>数据公司有权对用户使用车巴巴网络服务的情况进行实时审查和监督。如发现用户涉嫌在使用车巴巴的网络服务时违反任何上述规定的，数据公司有权作出独立判断并采取改正、删除用户上传的内容、暂停或终止用户使用服务的权利等措施。</p>
                        <h3>第十二条结束服务</h3>
                        <p>数据公司有权随时根据战略规划或市场行情等中断一项或多项服务且无须对任何个人或第三方负责。若用户反对任何本协议的服务条款或对数据公司不时修改的服务条款有异议，或对数据公司的服务不满的，用户可通过以下任一方式结束服务：</p>

                        <p>（a）不再使用数据公司经由车巴巴提供的任何服务；</p>

                        <p>（b）注销车巴巴的账号；</p>

                        <p>（c）通知数据公司停止对该用户提供服务。</p>

                        <p>
                            车巴巴有权对对用户所填写的注册资料真实性、准确性、完整性或是否违反网站规则或任何适用的法律法规进行独立判断、认定；对不符合上述规定的用户，车巴巴无须事先通知即可限制用户使用车巴巴的服务或者删除用户使用的账号以及账号里的相关内容和信息，对用户因此遭受的损失车巴巴概不负责。</p>

                        <p>除特殊条款另有约定外，用户在任何连续的90日内未实际使用或进行登录操作在车巴巴注册的账号的，数据公司有权删除该账号并停止为该用户提供相关的网络服务。</p>

                        <p>数据公司限制用户使用网络服务或者删除用户使用的账号以及账号里的相关内容和信息的，数据公司仍然有权继续提取或使用该等相关内容和信息。</p>
                        <h3>第十三条违约赔偿</h3>

                        <p>
                            如因数据公司违反有关法律、法规或本协议的条款而给用户造成损失的，数据公司应承担赔偿责任，该赔偿责任不包括任何间接、附带、衍生或惩罚性的赔偿责任（包括但不限于利润、商业信誉、资料的损失、其他有形或无形财产的损失）；数据公司应承担的全部责任均不超过用户因购买与该等索赔有关的商品或服务而已经实际向数据公司支付的全部对价。</p>

                        <p>如因用户违反有关法律、法规、本协议项下的任何条款、网站规则的任何规定或任何对第三方的承诺，而给数据公司或其关联公司、任何其他第三方造成损失，用户同意承担由此造成的全部损害赔偿责任。</p>
                        <h3>第十四条免责声明</h3>

                        <p>车巴巴及用户同意并特此确认：</p>

                        <p>用户自行承担使用车巴巴的任何服务过程中所存在的一切风险及后果；数据公司不对网络服务作任何形式的明示或默示的声明或担保。</p>

                        <p>
                            车巴巴不作网络服务及时、安全、准确及可靠的保证。车巴巴有权随时变更、中断或终止部分或全部的网络服务，且不以事前通知为前提条件，车巴巴上述行为无需对用户和/或任何第三人承担任何责任；涉及收费服务的，车巴巴须事先通知用户方可变更、中断或终止相关服务，并根据用户实际使用服务的情况退还给用户多收取的服务费；当发生不可抗力、车巴巴不能控制的事件或本网站正常的设备维修升级而造成的网络服务中断，车巴巴对此不承担任何责任，但是车巴巴会积极协助处理善后事宜尽可能使用户免受经济损失。</p>

                        <p>车巴巴不保证经由车巴巴服务而传送的任何信息的正确性及完整性，车巴巴不对该上述信息承担任何责任，用户应对该上述信息自行判断并应自行承担风险；车巴巴有权自行决定是否删除或保留任何上述信息。</p>
                        <h3>第十五条适用法律及争议解决</h3>

                        <p>本协议的订立、执行、解释及任何有关本协议的争议解决均应适用中华人民共和国法律。</p>

                        <p>与本协议有关的或因本协议而引起的任何争议，双方应尽量通过友好协商解决；协商不成的，任何一方均有权向数据公司的住所地有管辖权的人民法院起诉。</p>
                        <h3>第十六条其他</h3>
                        <p>车巴巴可通过网页公告、电子邮件、手机短信或其他方式通知用户相关事项（包括但不限于车巴巴服务的改变、本协议的修改等），用户应确保其联系方式的真实、准确，如发生联系方式的任何变更，用户应当与及时更新。</p>
                        <p>车巴巴发出的任何通知及各类网站规则属于本协议不可分割的一部分，并于发送或在车巴巴公布之日（以较早之日为准）视为已送达用户。用户在上述通知规则发送并生效后继续使用车巴巴的网络服务的，视为用户同意接受该通知规则的约束；用户有定期阅读相关通知或网站规则的义务，其因任何原因没有阅读相关通知或网站规则的，数据公司对此不承担相关责任。</p>

                        <p>若本协议的任何条款被认定为无效或不可强制执行的，不影响本协议其余条款的法律效力和正常执行。</p>

                        <p>数据公司未行使本协议或法律规定的任何权利或救济的，不构成对该等权利或救济之放弃。</p>
                    </div>
                </li>
                <li>
                    <h2 id="law"><i></i>法律声明</h2>
                    <div class="article">
                        <p>车巴巴提醒用户：在使用车巴巴之前，请仔细阅读本声明的全部条款。用户一旦连接或使用本网站，即表示用户无条件地接受本声明，用户应严格遵守本声明和相关法律的规定。</p>
                        <h3>商品和服务信息</h3>
                        <p>车巴巴将尽合理的商业努力，准确、详尽、完整地展示的参数、说明、价格、库存等商品和服务信息；对车巴巴上的商品和服务信息随时可能发生的变动，车巴巴不再作特别通知。
                            车巴巴内展示的商品和服务信息（包括但不限于商品和服务的名称、价格及相关描述）仅构成要约邀请；用户通过车巴巴订购商品或服务所下的订单即为购买商品或服务的要约；车巴巴及其合作伙伴有权自行决定是否就该等要约作出承诺。</p>
                        <h3>知识产权声明</h3>

                        <p>
                            车巴巴提供的网络服务中包含的全部信息（包括但不限于任何文本、图片、音频、视频、数据、标识、数据编辑、商标等）以及为提供服务而使用的任何软件等均受知识产权和相关法律保护。未经车巴巴的事先书面同意，用户不得以任何方式复制、转发、分享或以其他方式使用车巴巴提供的网络服务中包含的任何信息，否则，车巴巴将依法追究其法律责任。用户以个人和非商业目的使用车巴巴的网络服务的情况除外。</p>

                        <p>
                            车巴巴的转载等行为并不代表车巴巴（包括车巴巴关联企业）认同该观点或证实其内容的真实性。车巴巴不对这些第三方的内容或者链接做出任何保证或承担任何责任，用户应对车巴巴提供的第三方内容或通往第三方网站的链接自行加以判断，并承担因使用而引起的所有风险。</p>

                        <p>任何单位或个人认为车巴巴提供的网络服务中包含的信息涉嫌侵犯其合法权益的，应该及时向车巴巴提出书面权利通知，并提供身份证明、权属证明、具体链接（URL）及详细侵权情况证明等必要证明资料。车巴巴在确认上述法律文件的基础上将会依法尽快处理。</p>
                        <h3>隐私权声明</h3>
                        <p>生效日期：2016年3月1日</p>
                        <p>本网站将依据本隐私权政策和相关法律规定收集、使用和披露用户个人信息，用户在浏览本网站以及使用本网站的特定服务之前，务必仔细阅读本隐私权政策。用户使用本网站，即视为用户同意本隐私权政策并同意本网站根据本隐私权政策收集、使用、披露用户的个人信息。</p>
                        <p>本隐私权政策主要包括但不限于以下内容：车巴巴向用户收集哪些信息；车巴巴如何使用这些信息；车巴巴在何种情况下披露这些信息；以及用户的选择。本隐私权政策是《用户服务协议》一部分。</p>
                        <p>车巴巴可能包含连接到其他网站的链接，车巴巴对该网站是否采取了充分的隐私权保护措施并不承担任何责任。</p>
                        <p>1、信息的收集</p>
                        <p>用户提供的信息。用户浏览本网站的一般性内容时，车巴巴不要求提供任何个人信息。用户使用或浏览车巴巴的特定服务或信息时（例如直接联系本网站），在用户同意并确认的基础上，车巴巴可能会以线上或线下注册表格的形式要求用户提供如下个人资料和信息：</p>

                        <p>• 一般信息：性别、年龄、职业、出生日期、教育程度、收入状况、婚姻家庭状况、兴趣爱好等；</p>

                        <p>• 联络信息：姓名、电子邮箱、电话号码、传真号码、手机号码、通讯地址等；</p>

                        <p>• 敏感信息：在需要用户付费才能享有的服务或产品，或参加本网站参与或组织的抽奖或竞赛活动等类似特定情况下，车巴巴会要求用户提供信用卡号码或身份证及护照号码等个人付款信息和身份证件信息。</p>

                        <p>车巴巴自动收集的信息。不管用户是否注册或登录，车巴巴可能会自动收集浏览本网站的用户的如下信息：</p>

                        <p>• 用户浏览器类型、操作系统类型、宽带类型、浏览器语言等；</p>

                        <p>• 用户IP地址及该地址可能显示的用户地理位置；</p>

                        <p>• 用户在本网站内浏览过的页面、广告和链接；</p>

                        <p>• 用户访问本网站时发出的访问请求及其日期、时间和引荐网址（如有）；</p>

                        <p>• 通过Cookie标注用户的浏览器的唯一性和在本网站的账户信息（包括用户访问本网站的各项活动、浏览习惯、消费习惯、账户信息等）；用户可以选择修改浏览器设置拒绝cookie，如果用户拒绝了cookie，此时用户可能无法使用依赖于cookie才能提供的本网站服务或功能；</p>

                        <p>• 车巴巴可能会使用浏览器网络存储（包括 HTML 5）和应用程序数据缓存等机制，在用户设备上收集和存储用户所浏览过的网页信息；</p>

                        <p>• 当用户使用本网站提供的具有定位功能的服务时，车巴巴可能会收集并处理有关用户实际所在位置的信息，车巴巴还可能使用各种技术进行定位。</p>

                        <p>本隐私权政策不适用于任何向用户提供服务的第三方主体（包括但不限于可能向本网站披露信息的第三方）。</p>

                        <p>通过网站客服中心与车巴巴联系并提供用户的账号和其他验证信息用户可以查询、更正用户的个人信息或注销账号，车巴巴先核实后回复用户的请求。</p>

                        <p>2、信息的使用</p>

                        <p>车巴巴仅在必要的情况下（例如参加一项优惠活动或根据法律法规要求等），方可使用用户的付款信息和个人身份证信息。</p>

                        <p>关于用户的其他个人信息，车巴巴主要应用于如下方面：</p>

                        <p>• 根据用户的要求向用户提供特定服务、产品或信息；</p>

                        <p>• 授权用户参加一项活动，例如调查问卷、网上论坛或优惠抽奖等；</p>

                        <p>• 代表本网站客户、车巴巴的关联公司、其他第三方等向用户提供或发送电子资讯，广告信息，个性化广告或优惠信息；</p>

                        <p>• 为改进车巴巴的服务分析用户对本网站的使用方式和使用习惯；</p>

                        <p>• 阻止违法或潜在违法行为，包括违反本网站用户协议的行为；</p>

                        <p>• 车巴巴在收集特定信息时向用户披露的其他用途。</p>

                        <p>3、信息的披露</p>

                        <p>车巴巴使用商业上合理的技术和其他措施防止用户的个人资料丢失、被盗用或遭篡改。车巴巴仅会在如下情况下可能向特定主体披露用户的个人信息：</p>

                        <p>• 获得用户的同意取得用户同意后，车巴巴与第三方商业伙伴分享用户的个人信息。</p>

                        <p>• 授权的第三方服务提供者车巴巴可能会将信息分享给第三方服务提供者，该第三方服务提供者帮助车巴巴提供专业服务，包括客户支持，电子邮件和短信应用，商业分析，市场推广和数据处理等。</p>

                        <p>• 竞赛或促销当用户选择参加一项竞赛或促销或其他类似活动，则根据该活动规则，用户的信息可能会被披露给第三方服务提供者（例如赞助商、供应商和其他协助车巴巴设计、管理和实施该项活动的第三方等）。用户报名参加一项本网站活动，将视为用户同意遵守该项活动的规则，包括但不限于允许本网站赞助商使用用户的名字、声音和图片进行广告和市场推广活动。</p>

                        <p>• 重大交易在公司进行重大商业交易时车巴巴可能会披露用户的信息，例如公司破产、被并购等。</p>

                        <p>• 法律法规或司法与政府部门要求根据人民法院、政府机关或法律法规的要求车巴巴向其披露用户信息。</p>

                        <p>• 紧急情况下保护本网站和其他方利益在车巴巴面临紧急情况下，为了保护本网站、本网站员工和用户、本网站合作伙伴和其他公众的合法权利、利益和安全，车巴巴可能会而披露用户信息。</p>

                        <p>• 第三方合作伙伴在用户通过车巴巴的网站申请参加线上或线下优惠等活动，用户的个人信息可能会提供给相关第三方。</p>

                        <p>车巴巴承诺会使用各种信息安全制度、安全技术和程序等措施来尽量保护用户的个人信息不被未经授权地访问、使用或泄露。但车巴巴不能向用户绝对保证上述个人信息的安全性与私密性。</p>

                        <p>4、用户的选择</p>

                        <p>用户可选择浏览和使用本网站的信息时不提供用户的个人信息。针对用户提供相关注册信息后方能使用本网站的特定信息和服务，用户不提供此类信息的无法使用对应服务。</p>

                        <p>用户可以随时查阅或编辑用户注册本网站时提交给本网站的个人信息，但用户可能无法修改注册时提供的初始注册信息及其他验证信息。</p>

                        <p>5、用户发布信息</p>

                        <p>本网站的部分服务中，用户有权在遵守本网站《用户服务协议》的前提下，发布自己的信息、视频、照片、观点、评论、商品使用体验、商品讨论等，该等内容自发布之时起成为公开信息，同时，用户在本网站发布信息的行为即视为允许本网站对该等信息无偿拥有使用权和完全再许可的权利，且该等权利不受适用范围、任何时间和空间的限制，用户应于发布联系信息、财务信息或其他个人信息之前自行谨慎判断。用户发布上述内容使之成为公开信息后，车巴巴对其风险概不负责。</p>

                        <p>6、未成年人的信息保护</p>

                        <p>用户是不具备完全民事权利能力和完全民事行为能力的自然人的，用户应先取得用户家长或法定监护人的同意方可使用本网站的任何服务。同时，本网站希望用户不要向车巴巴提供任何个人信息。</p>

                        <p>7、隐私权声明的更新</p>

                        <p>为反映车巴巴的相关实践及相关服务和法律法规的变化，车巴巴会时常更新本隐私权政策。车巴巴会在修订本隐私权政策时，并在其更新文首载入“生效日期”，用户应定期查阅。用户继续使用本网站，即视为用户同意本隐私权政策的更新。</p>

                        <p>8、问题与投诉</p>

                        <p>用户对本隐私权政策或个人信息保护有任何问题的，可通过网站客服中心与车巴巴联系。车巴巴会尽最大努力在合理时间内回复用户。</p>

                        <p>• 法律法规或司法与政府部门要求根据人民法院、政府机关或法律法规的要求车巴巴向其披露用户信息。</p>

                        <p>• 紧急情况下保护本网站和其他方利益在车巴巴面临紧急情况下，为了保护本网站、本网站员工和用户、本网站合作伙伴和其他公众的合法权利、利益和安全，车巴巴可能会而披露用户信息。</p>

                        <p>• 第三方合作伙伴在用户通过车巴巴的网站申请参加线上或线下优惠等活动，用户的个人信息可能会提供给相关第三方。</p>

                        <p>车巴巴承诺会使用各种信息安全制度、安全技术和程序等措施来尽量保护用户的个人信息不被未经授权地访问、使用或泄露。但车巴巴不能向用户绝对保证上述个人信息的安全性与私密性。</p>

                        <p>4、用户的选择</p>

                        <p>用户可选择浏览和使用本网站的信息时不提供用户的个人信息。针对用户提供相关注册信息后方能使用本网站的特定信息和服务，用户不提供此类信息的无法使用对应服务。</p>

                        <p>用户可以随时查阅或编辑用户注册本网站时提交给本网站的个人信息，但用户可能无法修改注册时提供的初始注册信息及其他验证信息。</p>

                        <p>5、用户发布信息</p>

                        <p>本网站的部分服务中，用户有权在遵守本网站《用户服务协议》的前提下，发布自己的信息、视频、照片、观点、评论、商品使用体验、商品讨论等，该等内容自发布之时起成为公开信息，同时，用户在本网站发布信息的行为即视为允许本网站对该等信息无偿拥有使用权和完全再许可的权利，且该等权利不受适用范围、任何时间和空间的限制，用户应于发布联系信息、财务信息或其他个人信息之前自行谨慎判断。用户发布上述内容使之成为公开信息后，车巴巴对其风险概不负责。</p>

                        <p>6、未成年人的信息保护</p>

                        <p>用户是不具备完全民事权利能力和完全民事行为能力的自然人的，用户应先取得用户家长或法定监护人的同意方可使用本网站的任何服务。同时，本网站希望用户不要向车巴巴提供任何个人信息。</p>

                        <p>7、隐私权声明的更新</p>

                        <p>为反映车巴巴的相关实践及相关服务和法律法规的变化，车巴巴会时常更新本隐私权政策。车巴巴会在修订本隐私权政策时，并在其更新文首载入“生效日期”，用户应定期查阅。用户继续使用本网站，即视为用户同意本隐私权政策的更新。</p>

                        <p>8、问题与投诉</p>

                        <p>用户对本隐私权政策或个人信息保护有任何问题的，可通过网站客服中心与车巴巴联系。车巴巴会尽最大努力在合理时间内回复用户。</p>

                     
                    </div>
                </li>
            </ul>
        </div>
	</div>

{% endblock %}