{% extends 'base/base.html' %}
{% block css %}
    {{ super() }}
<link href="{{ static('site/css/page/activity.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
{{ super() }}
<div class="activity">
    <div class="f-width-mian f-center">
       <!-- <div class="m-crumb">
            <span>当前位置：</span>
            <a href="#">首页</a>
            <span class="separator">></span>
            <a href="#">惠挑车</a>
            <span class="separator">></span>
            <a href="#">逍客</a>
        </div>-->
        <div class="discount-info">

        </div>
    </div>
    <div class="g-ad-lg clearfix">
        <div class="loan-ad-content"><img src="../../static/site/images/page/activity/banner.jpg"></div>
    </div>
</div>
{% endblock %}
{% block main %}
    <div class="loan-index-wrap mainbody">
        <div class="m-title-begin-red"><i></i>热门金融车型</div>
        <div class="m-box clearfix" id="loan-index-plan">
            <a class="u-loan-plan fl" href="javascript:;">
                <div class="u-loan-plan-wr">
                    <div class="u-loan-plan-txt fl">
                        <p class="title">新势代逍客</p>
                        <span class="clear">45种金融贷款方案</span>

                        <div class="loan-pirct clear">
                            <p>首付低至<span><label>3.8万</label>起</span></p>

                            <p>月供仅需<span><label>3400元</label>起</span></p>
                        </div>
                    </div>
                    <div class="u-loan-plan-img fr">
                        <img src="../../static/site/images/page/loan/loan-car.jpg">
                    </div>
                </div>
            </a>
            <a class="u-loan-plan fr" href="javascript:;">
                <div class="u-loan-plan-wr">
                    <div class="u-loan-plan-txt fl">
                        <p class="title">新势代逍客</p>
                        <span class="clear">45种金融贷款方案</span>

                        <div class="loan-pirct clear">
                            <p>首付低至<span><label>3.8万</label>起</span></p>

                            <p>月供仅需<span><label>3400元</label>起</span></p>
                        </div>
                    </div>
                    <div class="u-loan-plan-img fr">
                        <img src="../../static/site/images/page/loan/loan-car.jpg">
                    </div>
                </div>
            </a>
            <a class="u-loan-plan fl" href="javascript:;">
                <div class="u-loan-plan-wr">
                    <div class="u-loan-plan-txt fl">
                        <p class="title">新势代逍客</p>
                        <span class="clear">45种金融贷款方案</span>

                        <div class="loan-pirct clear">
                            <p>首付低至<span><label>3.8万</label>起</span></p>

                            <p>月供仅需<span><label>3400元</label>起</span></p>
                        </div>
                    </div>
                    <div class="u-loan-plan-img fr">
                        <img src="../../static/site/images/page/loan/loan-car.jpg">
                    </div>
                </div>
            </a>
            <a class="u-loan-plan fr" href="javascript:;">
                <div class="u-loan-plan-wr">
                    <div class="u-loan-plan-txt fl">
                        <p class="title">新势代逍客</p>
                        <span class="clear">45种金融贷款方案</span>

                        <div class="loan-pirct clear">
                            <p>首付低至<span><label>3.8万</label>起</span></p>

                            <p>月供仅需<span><label>3400元</label>起</span></p>
                        </div>
                    </div>
                    <div class="u-loan-plan-img fr">
                        <img src="../../static/site/images/page/loan/loan-car.jpg">
                    </div>
                </div>
            </a>
            <a class="u-loan-plan fl" href="javascript:;">
                <div class="u-loan-plan-wr">
                    <div class="u-loan-plan-txt fl">
                        <p class="title">新势代逍客</p>
                        <span class="clear">45种金融贷款方案</span>

                        <div class="loan-pirct clear">
                            <p>首付低至<span><label>3.8万</label>起</span></p>

                            <p>月供仅需<span><label>3400元</label>起</span></p>
                        </div>
                    </div>
                    <div class="u-loan-plan-img fr">
                        <img src="../../static/site/images/page/loan/loan-car.jpg">
                    </div>
                </div>
            </a>
            <a class="u-loan-plan fr" href="javascript:;">
                <div class="u-loan-plan-wr">
                    <div class="u-loan-plan-txt fl">
                        <p class="title">新势代逍客</p>
                        <span class="clear">45种金融贷款方案</span>

                        <div class="loan-pirct clear">
                            <p>首付低至<span><label>3.8万</label>起</span></p>

                            <p>月供仅需<span><label>3400元</label>起</span></p>
                        </div>
                    </div>
                    <div class="u-loan-plan-img fr">
                        <img src="../../static/site/images/page/loan/loan-car.jpg">
                    </div>
                </div>
            </a>

        </div>
        <div class="m-title-begin-red"><i></i>热门金融产品</div>
        <div class="m-box clearfix" id="loan-index-financial">
            <div class="u-loan-index-fnc loan-fnc-1">
                <h2>日产金融 - 5050 百禄贷</h2>
                <p>无抵押 审贷快 还款方式灵活</p>
                <div class="u-series-wrap">
                    <a class="cur" href="javascript:;">轩逸</a><a href="javascript:;">轩逸</a><a href="javascript:;">轩逸</a>
                </div>
                <a href="#" class="u-btn-lightRed">申请贷款</a>
            </div>
            <div class="u-loan-index-fnc loan-fnc-2">
                <h2>日产金融 - 5050 百禄贷</h2>
                <p>无抵押 审贷快 还款方式灵活</p>
                <div class="u-series-wrap">
                    <a class="cur" href="javascript:;">轩逸</a><a href="javascript:;">轩逸</a><a href="javascript:;">轩逸</a>
                </div>
                <a href="#" class="u-btn-lightRed">申请贷款</a>
            </div>
            <div class="u-loan-index-fnc loan-fnc-3">
                <h2>日产金融 - 5050 百禄贷</h2>
                <p>无抵押 审贷快 还款方式灵活</p>
                <div class="u-series-wrap">
                    <a class="cur" href="javascript:;">轩逸</a><a href="javascript:;">轩逸</a><a href="javascript:;">轩逸</a>
                </div>
                <a href="#" class="u-btn-lightRed">申请贷款</a>
            </div>
        </div>
	</div>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript" src="{{ static('site/js/lib/seriesPlug.js') }}"></script>
<script type="text/javascript" src="{{ static('site/js/lib/modelPlug.js') }}"></script>
<script type="text/javascript" src="{{ static('site/js/page/loanIndex.js') }}"></script>
{% endblock %}
