<form id="J-step-zs-3" style="display:none"> 
  <div class="tips"></div>
  <ul>
      <li class="form-list clearfix">
          <div class="label">身份证号码</div>
          <div class="frame J-select-link">
              <div class="u-input">
                  <input id="J-idCard" type="text" name="idCard" placeholder="请输入您的证件号码"/>
              </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">户籍城市</div>
          <div class="frame J-select-link">
              <div class="m-btn-group form-select">
                 <div class="btn btn-default btn-form">
                    <input id="J-homCtyCod" class="form-select" type="text" name="homCtyCod" placeholder="请选择您的户籍城市"/>
                    <span class="cbb cbb-angle-down"></span>
                    <div class="mask"></div>
                 </div>
                 <ul class="dropdown-ul">
                    <li><a href="javascript:;" data-id="0020">广州市</a></li>
                    <li><a href="javascript:;" data-id="0021">上海市</a></li>
                    <li><a href="javascript:;" data-id="0022">天津市</a></li>
                    <li><a href="javascript:;" data-id="0023">重庆市</a></li>
                    <li><a href="javascript:;" data-id="0024">沈阳市</a></li>
                    <li><a href="javascript:;" data-id="0025">南京市</a></li>
                    <li><a href="javascript:;" data-id="0027">武汉市</a></li>
                    <li><a href="javascript:;" data-id="0028">成都市</a></li>
                    <li><a href="javascript:;" data-id="0029">西安市</a></li>
                    <li><a href="javascript:;" data-id="0311">石家庄市</a></li>
                    <li><a href="javascript:;" data-id="0351">太原市</a></li>
                    <li><a href="javascript:;" data-id="0371">郑州市</a></li>
                    <li><a href="javascript:;" data-id="0411">大连市</a></li>
                    <li><a href="javascript:;" data-id="0431">长春市</a></li>
                    <li><a href="javascript:;" data-id="0451">哈尔滨市</a></li>
                    <li><a href="javascript:;" data-id="0510">无锡市</a></li>
                    <li><a href="javascript:;" data-id="0512">苏州市</a></li>
                    <li><a href="javascript:;" data-id="0531">济南市</a></li>
                    <li><a href="javascript:;" data-id="0532">青岛市</a></li>
                    <li><a href="javascript:;" data-id="0535">烟台市</a></li>
                    <li><a href="javascript:;" data-id="0551">合肥市</a></li>
                    <li><a href="javascript:;" data-id="0571">杭州市</a></li>
                    <li><a href="javascript:;" data-id="0574">宁波市</a></li>
                    <li><a href="javascript:;" data-id="0591">福州市</a></li>
                    <li><a href="javascript:;" data-id="0592">厦门市</a></li>
                    <li><a href="javascript:;" data-id="0595">泉州市</a></li>
                    <li><a href="javascript:;" data-id="0731">长沙市</a></li>
                    <li><a href="javascript:;" data-id="0755">深圳市</a></li>
                    <li><a href="javascript:;" data-id="0756">珠海市</a></li>
                    <li><a href="javascript:;" data-id="0757">佛山市</a></li>
                    <li><a href="javascript:;" data-id="0769">东莞市</a></li>
                    <li><a href="javascript:;" data-id="0771">南宁市</a></li>
                    <li><a href="javascript:;" data-id="0791">南昌市</a></li>
                    <li><a href="javascript:;" data-id="0851">贵阳市</a></li>
                    <li><a href="javascript:;" data-id="0871">昆明市</a></li>
                    <li><a href="javascript:;" data-id="0931">兰州市</a></li>
                    <li><a href="javascript:;" data-id="0471">呼和浩特市</a></li>
                 </ul>
              </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">购车城市</div>
          <div class="frame J-select-link">
              <div class="m-btn-group form-select">
                 <div class="btn btn-default btn-form">
                    <input id="J-carCtyCod" class="form-select" type="text" name="carCtyCod" placeholder="请选择购车城市编码"/>
                    <span class="cbb cbb-angle-down"></span>
                    <div class="mask"></div>
                 </div>
                 <ul class="dropdown-ul">
                    <li><a href="javascript:;" data-id="0020">广州市</a></li>
                    <li><a href="javascript:;" data-id="0021">上海市</a></li>
                    <li><a href="javascript:;" data-id="0022">天津市</a></li>
                    <li><a href="javascript:;" data-id="0023">重庆市</a></li>
                    <li><a href="javascript:;" data-id="0024">沈阳市</a></li>
                    <li><a href="javascript:;" data-id="0025">南京市</a></li>
                    <li><a href="javascript:;" data-id="0027">武汉市</a></li>
                    <li><a href="javascript:;" data-id="0028">成都市</a></li>
                    <li><a href="javascript:;" data-id="0029">西安市</a></li>
                    <li><a href="javascript:;" data-id="0311">石家庄市</a></li>
                    <li><a href="javascript:;" data-id="0351">太原市</a></li>
                    <li><a href="javascript:;" data-id="0371">郑州市</a></li>
                    <li><a href="javascript:;" data-id="0411">大连市</a></li>
                    <li><a href="javascript:;" data-id="0431">长春市</a></li>
                    <li><a href="javascript:;" data-id="0451">哈尔滨市</a></li>
                    <li><a href="javascript:;" data-id="0510">无锡市</a></li>
                    <li><a href="javascript:;" data-id="0512">苏州市</a></li>
                    <li><a href="javascript:;" data-id="0531">济南市</a></li>
                    <li><a href="javascript:;" data-id="0532">青岛市</a></li>
                    <li><a href="javascript:;" data-id="0535">烟台市</a></li>
                    <li><a href="javascript:;" data-id="0551">合肥市</a></li>
                    <li><a href="javascript:;" data-id="0571">杭州市</a></li>
                    <li><a href="javascript:;" data-id="0574">宁波市</a></li>
                    <li><a href="javascript:;" data-id="0591">福州市</a></li>
                    <li><a href="javascript:;" data-id="0592">厦门市</a></li>
                    <li><a href="javascript:;" data-id="0595">泉州市</a></li>
                    <li><a href="javascript:;" data-id="0731">长沙市</a></li>
                    <li><a href="javascript:;" data-id="0755">深圳市</a></li>
                    <li><a href="javascript:;" data-id="0756">珠海市</a></li>
                    <li><a href="javascript:;" data-id="0757">佛山市</a></li>
                    <li><a href="javascript:;" data-id="0769">东莞市</a></li>
                    <li><a href="javascript:;" data-id="0771">南宁市</a></li>
                    <li><a href="javascript:;" data-id="0791">南昌市</a></li>
                    <li><a href="javascript:;" data-id="0851">贵阳市</a></li>
                    <li><a href="javascript:;" data-id="0871">昆明市</a></li>
                    <li><a href="javascript:;" data-id="0931">兰州市</a></li>
                    <li><a href="javascript:;" data-id="0471">呼和浩特市</a></li>
                 </ul>
              </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">工作单位</div>
          <div class="frame J-select-link">
              <div class="u-input">
                  <input id="J-offNam" type="text" name="offNam" placeholder="请输入您的公司中文全称"/>
              </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">月均收入</div>
          <div class="frame J-select-link">
            <div class="m-btn-group form-select">
              <div class="btn btn-default btn-form">
                <input id="J-avgIncCod" class="form-select" type="text" name="avgIncCod" placeholder="请选择您的收入情况"/>
                <span class="cbb cbb-angle-down"></span>
                <div class="mask"></div>
              </div>  
              <ul class="dropdown-ul">
                <li><a href="javascript:;" data-id="3000">3000-5999元</a></li>
                <li><a href="javascript:;" data-id="6000">6000-8999元</a></li>
                <li><a href="javascript:;" data-id="9000">9000-11999元</a></li>
                <li><a href="javascript:;" data-id="12000">12000-15999元</a></li>
                <li><a href="javascript:;" data-id="16000">16000-19999元</a></li>
                <li><a href="javascript:;" data-id="20000">20000-29999元</a></li>
                <li><a href="javascript:;" data-id="30000">30000（含）元以上</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">预计购车时间</div>
          <div class="frame J-select-link">
            <div class="m-btn-group form-select">
              <div class="btn btn-default btn-form">
                <input id="J-carDteCod" class="form-select" type="text" name="carDteCod" placeholder="请选择您大概的购车时间"/>
                <span class="cbb cbb-angle-down"></span>
                <div class="mask"></div>
              </div>
              <ul class="dropdown-ul">
                <li><a href="javascript:;" data-id="1">一个月内</a></li>
                <li><a href="javascript:;" data-id="3">三个月内</a></li>
                <li><a href="javascript:;" data-id="4">六个月内</a></li>
                <li><a href="javascript:;" data-id="6">暂未确定具体购车时间</a></li>
              </ul>
            </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">有无房产</div>
          <div class="frame J-select-link">
            <div class="u-btn-select active J-btn-select J-house" data-bool="true" data-id="Y">
              有房<i class="u-icon"></i>
            </div>
            <div class="u-btn-select J-btn-select J-house" data-bool="false" data-id="N">
              无房<i class="u-icon"></i>
            </div>
          </div>
      </li>
      <li class="form-list clearfix J-house-link">
          <div class="label">房产所在城市</div>
          <div class="frame J-select-link">
              <div class="m-btn-group form-select">
                 <div class="btn btn-default btn-form">
                    <input id="J-houCtyCod" class="form-select" type="text" name="houCtyCod" placeholder="请选择您的房产所在城市"/>
                    <span class="cbb cbb-angle-down"></span>
                    <div class="mask"></div>
                 </div>
                 <ul class="dropdown-ul">
                    <li><a href="javascript:;" data-id="0020">广州市</a></li>
                    <li><a href="javascript:;" data-id="0021">上海市</a></li>
                    <li><a href="javascript:;" data-id="0022">天津市</a></li>
                    <li><a href="javascript:;" data-id="0023">重庆市</a></li>
                    <li><a href="javascript:;" data-id="0024">沈阳市</a></li>
                    <li><a href="javascript:;" data-id="0025">南京市</a></li>
                    <li><a href="javascript:;" data-id="0027">武汉市</a></li>
                    <li><a href="javascript:;" data-id="0028">成都市</a></li>
                    <li><a href="javascript:;" data-id="0029">西安市</a></li>
                    <li><a href="javascript:;" data-id="0311">石家庄市</a></li>
                    <li><a href="javascript:;" data-id="0351">太原市</a></li>
                    <li><a href="javascript:;" data-id="0371">郑州市</a></li>
                    <li><a href="javascript:;" data-id="0411">大连市</a></li>
                    <li><a href="javascript:;" data-id="0431">长春市</a></li>
                    <li><a href="javascript:;" data-id="0451">哈尔滨市</a></li>
                    <li><a href="javascript:;" data-id="0510">无锡市</a></li>
                    <li><a href="javascript:;" data-id="0512">苏州市</a></li>
                    <li><a href="javascript:;" data-id="0531">济南市</a></li>
                    <li><a href="javascript:;" data-id="0532">青岛市</a></li>
                    <li><a href="javascript:;" data-id="0535">烟台市</a></li>
                    <li><a href="javascript:;" data-id="0551">合肥市</a></li>
                    <li><a href="javascript:;" data-id="0571">杭州市</a></li>
                    <li><a href="javascript:;" data-id="0574">宁波市</a></li>
                    <li><a href="javascript:;" data-id="0591">福州市</a></li>
                    <li><a href="javascript:;" data-id="0592">厦门市</a></li>
                    <li><a href="javascript:;" data-id="0595">泉州市</a></li>
                    <li><a href="javascript:;" data-id="0731">长沙市</a></li>
                    <li><a href="javascript:;" data-id="0755">深圳市</a></li>
                    <li><a href="javascript:;" data-id="0756">珠海市</a></li>
                    <li><a href="javascript:;" data-id="0757">佛山市</a></li>
                    <li><a href="javascript:;" data-id="0769">东莞市</a></li>
                    <li><a href="javascript:;" data-id="0771">南宁市</a></li>
                    <li><a href="javascript:;" data-id="0791">南昌市</a></li>
                    <li><a href="javascript:;" data-id="0851">贵阳市</a></li>
                    <li><a href="javascript:;" data-id="0871">昆明市</a></li>
                    <li><a href="javascript:;" data-id="0931">兰州市</a></li>
                    <li><a href="javascript:;" data-id="0471">呼和浩特市</a></li>
                 </ul>
              </div>
          </div>
      </li>
      <li class="form-list clearfix J-house-link">
          <div class="label">房产当前市值</div>
          <div class="frame J-select-link">
              <div class="m-btn-group form-select">
                 <div class="btn btn-default btn-form">
                    <input id="J-houPrcCod" class="form-select" type="text" name="houPrcCod" placeholder="请选择您的房产所在城市"/>
                    <span class="cbb cbb-angle-down"></span>
                    <div class="mask"></div>
                 </div>
                 <ul class="dropdown-ul">
                    <li><a href="javascript:;" data-id="500000">50-99万元</a></li>
                    <li><a href="javascript:;" data-id="1000000">100-149万元</a></li>
                    <li><a href="javascript:;" data-id="1500000">150-199万元</a></li>
                    <li><a href="javascript:;" data-id="2000000">200-249万元</a></li>
                    <li><a href="javascript:;" data-id="2500000">250-299万元</a></li>
                    <li><a href="javascript:;" data-id="3000000">300-399万元</a></li>
                    <li><a href="javascript:;" data-id="4000000">400-499万元</a></li>
                    <li><a href="javascript:;" data-id="5000000">500-799万元</a></li>
                    <li><a href="javascript:;" data-id="8000000">800-999万元</a></li>
                    <li><a href="javascript:;" data-id="10000000">1000万元及以上</a></li>
                 </ul>
              </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">是否有车</div>
          <div class="frame J-select-link">
            <div class="u-btn-select active J-btn-select J-carInf" data-bool="true" data-id="Y">
              有车<i class="u-icon"></i>
            </div>
            <div class="u-btn-select J-btn-select J-carInf" data-bool="false" data-id="N">
              无车<i class="u-icon"></i>
            </div>
          </div>
      </li>
      <li class="form-list clearfix J-carInf-link">
          <div class="label">车牌号码</div>
          <div class="frame J-select-link">
              <div class="m-btn-group form-select licence mr-10">
                 <div class="btn btn-default btn-form">
                    <input id="J-carNo-1" class="form-select" type="text" data-id="P001" value="京"/>
                    <span class="cbb cbb-angle-down"></span>
                    <div class="mask"></div>
                 </div>
                 <ul class="dropdown-ul">
                    <li><a href="javascript:;" data-id="P001">京</a></li>
                    <li><a href="javascript:;" data-id="P002">津</a></li>
                    <li><a href="javascript:;" data-id="P003">沪</a></li>
                    <li><a href="javascript:;" data-id="P004">冀</a></li>
                    <li><a href="javascript:;" data-id="P005">豫</a></li>
                    <li><a href="javascript:;" data-id="P006">云</a></li>
                    <li><a href="javascript:;" data-id="P007">辽</a></li>
                    <li><a href="javascript:;" data-id="P008">黑</a></li>
                    <li><a href="javascript:;" data-id="P009">湘</a></li>
                    <li><a href="javascript:;" data-id="P010">皖</a></li>
                    <li><a href="javascript:;" data-id="P011">鲁</a></li>
                    <li><a href="javascript:;" data-id="P012">新</a></li>
                    <li><a href="javascript:;" data-id="P013">苏</a></li>
                    <li><a href="javascript:;" data-id="P014">浙</a></li>
                    <li><a href="javascript:;" data-id="P015">赣</a></li>
                    <li><a href="javascript:;" data-id="P016">鄂</a></li>
                    <li><a href="javascript:;" data-id="P017">桂</a></li>
                    <li><a href="javascript:;" data-id="P018">甘</a></li>
                    <li><a href="javascript:;" data-id="P019">晋</a></li>
                    <li><a href="javascript:;" data-id="P020">蒙</a></li>
                    <li><a href="javascript:;" data-id="P021">陕</a></li>
                    <li><a href="javascript:;" data-id="P022">吉</a></li>
                    <li><a href="javascript:;" data-id="P023">闽</a></li>
                    <li><a href="javascript:;" data-id="P024">贵</a></li>
                    <li><a href="javascript:;" data-id="P025">粤</a></li>
                    <li><a href="javascript:;" data-id="P026">川</a></li>
                    <li><a href="javascript:;" data-id="P027">青</a></li>
                    <li><a href="javascript:;" data-id="P028">藏</a></li>
                    <li><a href="javascript:;" data-id="P029">琼</a></li>
                    <li><a href="javascript:;" data-id="P030">宁</a></li>
                    <li><a href="javascript:;" data-id="P031">渝</a></li>
                 </ul>
              </div>
              <div class="u-input licence-number">
                  <input id="J-carNo-2" type="text" name="carNo" placeholder="请输入6位英文+数字"/>
              </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">是否愿意客户经理与您联系</div>
          <div class="frame J-select-link">
            <div class="u-btn-select active J-btn-select J-conFlg" data-id="1">
              是<i class="u-icon"></i>
            </div>
            <div class="u-btn-select J-btn-select J-conFlg" data-id="0">
              否<i class="u-icon"></i>
            </div>
          </div>
      </li>
      <li class="form-list clearfix">
          <div class="label">您的手机号码</div>
          <div id="J-phone-format" class="frame J-select-link">13682224071</div>
      </li>
      <li class="form-list clearfix" id="J-zs-code-frame" style="display:none;">
          <div class="label">验证码</div>
          <div class="frame">
              <div class="u-input">
                  <input id="J-zs-verify-code" class="u-width1" type="text" name="verify_code" placeholder="请输入短信验证码"/>
              </div>
          </div>
      </li>
      <li class="form-list agree clearfix">
          <div class="label"></div>
          <div class="frame">
              <label>
                <i class="u-icon u-icon-xz"></i>
                <input class="J-checkbox checkbox" type="checkbox" class="checkbox" name="agree">
              </label>
              招商银行信用卡消费信贷业务在线<strong class="J-ZS-agree-dialog">服务协议</strong>
          </div>
      </li>
      <li class="form-list btn clearfix ">
          <div class="label"></div>
          <div class="frame">
              <a id="J-zs-next" class="next-btn u-btn-deepred" href="javascript:;">下一步</a>
              <a id="J-zs-prex" class="prex-btn" href="javascript:;">返回上一步</a>
          </div>
      </li>
  </ul>
</form>