{% extends 'base/base.html' %}
{% import 'base/about_sidebar.html' as sidebar %}
{% block title %}加入我们 - {{platform}}{% endblock %}
<!-- 获取品牌 -->
{% set rBrand  = request.GET.get('brand',0)|int %} 
{% block css %}
    {{ super() }}
    <link href="{{ static('site/css/page/about.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ static('site/js/page/about.js') }}"></script>
{% endblock %}
{% block main %}
	<div class="about-wrap mainbody clearfix">
        <!--<div class="m-crumb">
            <span>当前位置：</span>
            <a href="/{{city.city_alias}}">首页</a>
            <span class="separator">></span>
            <a href="/{{city.city_alias}}/html/site/join">加入我们</a>
        </div>-->
        {{ sidebar.sidebar_macro() }}
        <div class="content">
            <h1>招纳贤士</h1>
            <ul>
                <li>
                    <h2 id="area_intro"><i></i>社招流程</h2>
                    <div class="article">
                        <img src=" {{ static('site/images/page/join.jpg') }}"/>
                    </div>
                </li>
                <li class="job">
                    <h2 id="area_society"><i></i>社会招聘</h2>
                    <div id="J-tab" class="join-tab">
                        <div class="tabBar clearfix">
                            <span>技术类</span>
                            <span>运营类</span>
                            <span>职能类</span>
                            <span>客服</span>
                        </div>
                        <div class="tabCon">
                            <div class="job-list">
                                <p class="name">软件工程师（HTML5）<!-- <span>(2名)</span> --></p>
                                <!-- <p class="salary">月薪：<strong>5K-10K</strong></p> -->
                                <!-- <p class="info">
                                    广州/经验不限/全职/15:09更新
                                    <span class="fr">简历投递：HR@CHEBABA.COM</span>
                                </p> -->
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责根据设计需求制作静态页面；</p>
                                <p>2.负责配合程序员进行页面以及接口协调的维护；</p>
                                <p>3.负责前端技术更新，优化访问速度；</p>
                                <p>4.熟悉XHMTL1.0标准，保证页面制作和相关脚本编写标准化，并确保兼容性与执行效率 ；</p>
                                <p>任职要求:</p>   
                                <p>1.全日制大专以上学历，计算机等相关专业；</p>
                                <p>2.具备2年以上相关工作经验，具有基于B/S应用系统的前端开发工作经验；</p>
                                <p>3.熟练使用原生JS以及jQuery等基础框架，了解后台编程语言（PHP或java）；</p>
                                <p>4.熟悉Bootstrap，Angular等主流HTML5、JS移动终端和桌面终端开发框架和组件，对canvas的了解以及利用canvas绘制图形；</p>
                                <p>5.熟练掌握使用CSS、CSS3、Ajax；</p>
                                <p>6.熟悉DIV+CSS符合W3C标准，能运用HTML5、CSS3进行合理制作页面，深刻理解主流浏览器之间的兼容性；</p>
                                <p>7.具有良好的代码编写习惯；</p>
                                <p>8.有良好的沟通能力，具备团队合作精神，高度的责任心和积极的工作态度</p>
                            </div>
                            <div class="job-list">
                                <p class="name">高级UI设计师</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责公司产品web和移动端的界面设计、平面视觉设计、广告Banner设计、海报设计等；</p>
                                <p>2.理解产品需求和交互原型，定义设计风格，协助完成并完善设计规范，保证产品风格的一致性；</p>
                                <p>3.参与产品前期规划构思、产品概念传达和创意过程；</p>
                                <p>4.优化公司产品用户体验及完善设计流程。</p>
                                <p>任责要求:</p>   
                                <p>1.美术或设计相关专业大专及以上学历，熟练使用主流设计软件，对设计保持高度的热情；</p>
                                <p>2.三年及以上移动端界面或PC端的UI、UE设计经验。具有扎实的美术功底和创意设计能力，较好的审美观念及色彩搭配感觉，熟悉界面交互或用户体验；</p>
                                <p>3.熟练使用Photoshop、illustrator等流行设计软件及设计手法；</p>
                                <p>4.具备较好的沟通能力和逻辑思维能力，有良好的团队合作精神，能独立完成相关设计工作；</p>
                                <p>5.应聘请提供以往设计作品。</p>
                            </div>
                            <div class="job-list">
                                <p class="name">高级软件工程师（PHP）</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责根据项目需求，进行系统的技术架构和概要设计；</p>
                                <p>2.负责独立完成详细设计及编码、调试；</p>
                                <p>3.负责服务器端PHP软件的设计、开发和维护；</p>
                                <p>4.负责微信公众平台所需要的接口和数据管理，api数据接口开发工作；</p>
                                <p>5.负责互联网新媒体业务的网络技术需求分析、技术开发、功能设计和整体维护；</p>
                                <p>6.负责微信公众号和企业号的开发，保证项目开发进度；</p>
                                <p>7.负责利用各种优化技术提升网站高并发性能；</p>
                                <p>8.负责核心代码的开发工作，能够快速的学习并掌握项目中的新技术，及时发现问题，并提出实际的意见和建议。</p>
                                <p>任责要求:</p>   
                                <p>1.全日制大专以上学历，实际开发过微信公众平台系统经验者优先；</p>
                                <p>2.具备3年以上PHP开发经验和移动端开发相关工作经验，熟练使用PHP+MySQL进行开发，熟悉MVC设计模式，熟悉LAMP或LNMP平台；</p>
                                <p>3.具备良好的代码编写习惯及较强的文档书写能录，拥有规范化的代码标准和网站设计文档的优先；</p>
                                <p>4.具备后端语言的开发水准，达到中级开发师以上水平者优先；</p>
                                <p>5.具备较强的学习、组织协调及人际沟通能力；</p>
                                <p>6.热爱电商行业，吃苦耐劳，能承受工作压力。</p>
                            </div>
                        </div>
                        <div class="tabCon">
                            <div class="job-list">
                                <p class="name">新媒体运营专员</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责新媒体平台（包括但不限于微信、微博、贴吧、豆瓣、知乎等）的日常运营及推广；</p>
                                <p>2.负责挖掘和分析目标用户的使用习惯、情感及体验感受，及时响应社会、娱乐、网络热点话题，通过有效运营手段增加粉丝数，提升活跃度，并向公司电商平台引流，转化；</p>
                                <p>3.负责运用新媒体渠道的数据做分析评估，总结优化传播渠道和内容；</p>
                                <p>4.负责开发、拓展与媒体的合作机会，并与第三方媒体达成多元化的合作关系。</p>
                                <p>任责要求:</p>   
                                <p>1.全日制大专以上学历，专业不限；</p>
                                <p>2.具备3年以上微博、微信等新媒体推广方面工作经验，熟悉各种口碑营销、病毒营销及用户运营手段，具备具体的策划执行项目案例；</p>
                                <p>3.具备汽车行业相关工作经验者优先考虑；</p>
                                <p>4.具备优秀的文案写作能力，爱尝鲜，爱社交，热衷于资深互联网产品用户；</p>
                                <p>5.具备独特的品位，独特的运营风格，对互联网热点、传播趋势有良好的把握，深谙社交传播之道；</p>
                                <p>6.能承受较大的工作压力，执行力强，富有团队合作精神，能够拥抱变化；</p>
                                <p>7.具备成功运营的社交媒体帐号优先考虑。"</p>
                            </div>
                            <div class="job-list">
                                <p class="name">电商运营专员（用户运营）</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责东风日产自有电商平台（车巴巴）用户管理体系的建立、维护、完善、用户留存及生命周期管理；</p>
                                <p>2.负责新客户的开拓，通过线上线下活动，针对特定人群进行活动推广，获取优质用户；</p>
                                <p>3.负责利用个性化、精细化运营手段，提升用户消费体验，提升新客转化率、老用户活跃率和活跃度运营；定期进行沉寂用户激活和流失用户挽回，确保用户留存率；</p>
                                <p>4.负责通过数据化运营的方式，不断优化现有用户群体的数据化定义，围绕各角色的动机和心智去做行为引导；</p>
                                <p>5.负责提升用户在平台的活跃度，提高用户黏性，发现产品新的机会和改进点，建立用户积分成长体系，并形成完整的积分兑换机制。</p>
                                <p>任责要求:</p>   
                                <p>1.全日制本科以上学历，专业不限；</p>
                                <p>2.具备3年以上互联网运营经验；有会员成长相关工作经验者优先考虑；</p>
                                <p>3.用户的视角：共情能力强，有比较好的消费者洞察力和商业敏感度；</p>
                                <p>4.数据嗅觉：有较强的数据分析及精细化运营能力，数据嗅觉敏锐，善于从数据中发现问题找准问题；</p>
                                <p>5.沟通协作：出色的语言、沟通、组织协调能力，较好的实际解决问题与抗压能力；</p>
                                <p>5.性格特征：热爱生活，贴近用户，有驱动力，有说服力，有想法也重落地。</p>
                            </div>
                            <div class="job-list">
                                <p class="name">活动策划</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责微信营销热点及营销总部的双月活动规划，策划微信平台的营销活动及执行方案；</p>
                                <p>2.负责结合微信平台特点或热门营销方式,根据新车上市、双月营销活动等策划微信平台营销方案；</p>
                                <p>3.负责微信营销活动的落实和推进；</p>
                                <p>4.负责策划活动的效果反馈。</p>
                                <p>任责要求:</p>   
                                <p>1.全日制本科以上学历，经验丰富者可适当放宽；</p>
                                <p>2.3年以上广告策划行业或4s店营销活动策划经验；</p>
                                <p>3.能独立进行营销活动方案的策划与实施；</p>
                                <p>4.有微信平台营销活动策划经验或者互联网营销策划经验优先；</p>
                                <p>5.熟悉汽车行业的营销模式；</p>
                                <p>6.熟练掌握OFFICE办公软件；</p>
                                <p>7.具备较强的组织协调及人际交际沟通能力；</p>
                                <p>8.热爱电商行业，吃苦耐劳，能承受工作压力。"</p>
                            </div>
                            <div class="job-list">
                                <p class="name">文案策划</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.营销活动与产品应用宣传文案的策划；</p>
                                <p>2.平台整体和产品内容的文案编辑、广告文案创作；</p>
                                <p>3.根据产品特质挖掘和提炼产品的亮点与卖点，对产品进行直观、感性、富有吸引力的描述，提升客户的注册量；</p>
                                <p>4.与美工合作，尽量把文字描述中的情感广告语转化为图片；</p>
                                <p>5.能根据客户网络阅读习惯进行微信、活动内容撰写与编辑。</p>
                                <p>任责要求:</p>   
                                <p>1.2年以上互联网文案策划与编辑，微博、微信、QQ空间、论坛、贴吧等社会化媒体平台传播结构经验；</p>
                                <p>2.有汽车行业经验优先；</p>
                                <p>3.熟悉互联网的语言特性，能基于活动或产品提炼文案；</p>
                                <p>4.有良好的文字驾驭能力，文风幽默，脑残对话，思维敏捷创新意识佳；</p>
                                <p>5.注重团队合作精神，有一定的敬业精神，对工作有极强的责任心，能承受较大工作压力。</p>
                            </div>
                            <div class="job-list">
                                <p class="name">营销策划师</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责东风日产自有电商平台-车巴巴及移动社区年度营销活动规划；</p>
                                <p>2.负责东风日产自有电商平台-车巴巴双月营销活动策划；</p>
                                <p>3.负责对接东风日产相关部门的促销资源，制定营销执行方案；</p>
                                <p>4.负责配合营销总监协调内部项目组推进活动的执行；</p>
                                <p>5.负责每期活动结束后PDCA的制定及改善提升方案。</p>
                                <p>任责要求:</p>   
                                <p>1. 全日制大专以上学历，专业不限</p>
                                <p>2.具备汽车4S店经销商运营模式经验者优先；</p>
                                <p>3.具备5年以上相关工作经验，有汽车行业营销策划经验，知名广告公司或4A公司优先；</p>
                                <p>4.逻辑思维强，善于沟通，具备极强的PPT撰写能力；</p>
                                <p>5.了解并热爱汽车行业，具备较强的学习、组织协调及人际沟通能力。</p>
                            </div>
                        </div>
                        <div class="tabCon">
                            <div class="job-list">
                                <p class="name">暂无</p>
                            </div>
                        </div>
                        <div class="tabCon">
                            <div class="job-list">
                                <p class="name">销售运营主管</p>
                                <p class="line"></p> 
                                <p>岗位职责:</p>   
                                <p>1.负责整车销售咨询（电话/官网/微信/天猫等）及电商平台直销 团队的运营管理工作；</p>
                                <p>2.负责优化业务流程，提高团队的生产效率及服务质量，提高客户满意度；</p>
                                <p>3.负责开发新业务、新渠道，增加客户粘度，提高客户咨询量；     </p>
                                <p>4.负责编制培训教程，提高销售咨询团队的销售技巧，提高销售线索的数量和质量；</p>
                                <p>5.负责销售运营团队的运营数据收集及分析，提升业务水平；</p>
                                <p>6.负责销售团队的绩效KPI设定及 月度绩效评价工作；</p>
                                <p>7.负责销售业务的运营月度报告，定期向业务部门沟通汇报。</p>
                                <p>任责要求:</p>   
                                <p>1.全日制大专以上学历，具有3年以上的电话销售、电商直销业务工作经验，1年以上业务管理工作经验；具备汽车行业工作经验优先；</p>
                                <p>2.熟悉电销及直销业务流程，能独立带领团队开展工作；</p>
                                <p>3.精通培训课件的开发，能独立完成销售技能课程的开发，提高团队的销售及应对技巧；</p>
                                <p>4.热衷汽车及互联网行业，性格坚毅，积极向上，能承受较大的工作压力。</p>
                            </div>
                            <div class="job-list">
                                <p class="name">互联网客服经理</p>
                                <p class="line"></p> 
                                <p>岗位职责：</p>
                                <p>1.负责互联网客服项目（在线、微信、社区论坛、智能客服等）的规划、运营、管理；</p>
                                <p>2.负责通过互联网客服渠道，与客户进行互动，增强粉丝客户粘性，提高粉丝客户活跃度；</p>
                                <p>3.负责项目团队运营数据、知识内容数据的收集及分析，提升团队业务水平；</p>
                                <p>4.负责团队的绩效KPI设定及绩效评价工作；</p>
                                <p>5.监督工作流程及工作规范的执行情况，并及时发现问题、解决问题。</p>

                                <p>任职要求：</p>
                                <p>1.3年以上客服管理工作经验，有丰富的制度、流程、工作标准等制定经验，并能有效推动落实；</p>
                                <p>2.具备汽车行业工作经验优先，具备互联网客服管理经验者优先；</p>
                                <p>3.综合素质优秀，组织领导能力、沟通能力和表达能力良好；</p>
                                <p>4.工作作风务实、严谨，具有战略前瞻思维，具有创新精神和较好的原则性。</p>

                            </div>
                            <div class="job-list">
                                <p class="name">客服代表</p>
                                <p class="line"></p> 
                                <p>岗位职责：</p>
                                <p>1.通过电话在线为客户提供快速的、准确的产品咨询、活动报名等相关服务；</p>
                                <p>2.在线处理客户投诉，了解客户需求，做好记录，协助解决相关问题，并进行及时有效处理；</p>
                                <p>3.准确记录潜在客户购买需求，并将客户意愿及时反馈给相关人员进行跟进；</p>
                                <p>4.收集完善客户信息，准确将客户资料准确输入系统；</p>
                                <p>5.严格执行公司制定的各项业务流程，提升客户满意度；</p>
                                <p>6.及时向相关人员反馈客户的意见及建议，不断优化运营流程；</p>
                                <p>7.本岗位工作时间为三班倒，可接受夜班的可投递简历。</p>

                                <p>任职要求：</p>
                                <p>1.中专以上学历，普通话标准，口齿清晰，无口音；</p>
                                <p>2.具有良好的沟通表达能力，有较强的服务意识；</p>
                                <p>3.善于倾听，并具有一定的写作能力；</p>
                                <p>4.乐于接受挑战，能够承受较强工作压力；</p>
                                <p>5.善于学习、责任心强、诚实敬业，做事耐心细致、稳定、踏实；</p>
                                <p>6.熟练运用各类办公软件（excel，word）；</p>
                                <p>7.打字速度不低于40字／分钟；</p>
                                <p>8.男女不限，有呼叫中心客服工作经验者优先；</p>
                                <p>9.能接受排班。</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <h2 id="area_help"><i></i>应聘帮助</h2>
                    <div class="article">
                        <h3>福利待遇：</h3>
                        <p>1.工作环境：5层写字楼的办公环境宽敞舒适。</p>
                        <p>2.上班时间：实行5天8小时工作制。</p>
                        <p>3.薪酬：业内富有竞争力的薪酬。</p>
                        <p>4.绩效：岗位绩效、个人绩效、创新奖、劳动竞赛奖、优秀核心员工奖等。</p>
                        <p>5.福利：6+1，“6”是指员工缴纳养老保险、医疗保险、工伤保险、失业保险、生育保险、意外伤害等保险，“1”是指住房公积金。</p>
                        <p>6.假期安排：除享受国家法定节假日（11天）+5天高温假期（统一年休假）+年休假（工作10年以上）。</p>
                        <p>7.其他福利：工装（夏装2套+冬装1套）、员工生日费、部门活动费、年度健康体检等。</p>
                        <p>8.节日福利：中秋节福利。</p>
                        <p>9.员工活动：员工组成的各个社团活动，每月举办生日会，季度旅游，不定期的主题活动（羽毛球、篮球、排球、趣味运动会等比赛）。</p>
                        <h3>简历投递邮箱</h3>
                        <p>wangzeqing@dfl.com.cn</p>
                        <p>tanwei-d@dfl.com.cn</p>
                        <h3>联系电话</h3>
                        <p>020-37719113</p>
                        <h3>公司地址</h3>
                        <p>广州市花都区风神大道8号东风日产乘用车公司花都二工厂正门（有大屏幕）旁东风南方大厦。</p>
                        <h3>乘车路线</h3>
                        <p>在广州市汽车客运站（火车站对面）或者天河客运站、东圃客运站、广州东汽车客运站（外地人员可在各大客运站坐大巴到花都长途汽车客运站）乘大巴到花都客运站，然后转乘花19路、22路、27路任意一路车到朱村站下车，下车后即可看见公司5层办公大楼东风南方大厦。</p>
                    </div>
                </li>
            </ul>
        </div>
	</div>

{% endblock %}