<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="viewport" id="viewport" content="width=400">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>公共留资问卷调查</title>
  <link href="../../static/site/css/page/global.css" rel="stylesheet">
  <script src="../../static/3rd/jquery/jquery.min.js"></script>
  <script src="../../static/site/js/lib/jquery.formCheck.js"></script>
  <!--[if lte IE 9]>
  <script src="lib/respond.min.js"></script>
  <script src="lib/html5shiv-printshiv.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="g-head">
  <div class="m-header f-cb">
    <div class="f-fl">
      <i class="u-icon "></i><span class="s-sm">车巴巴服务热线：</span><span>400-830-8899</span>
    </div>
    <div class="f-fr">
      <i></i><a href="javascript:void(0);">请登录</a><span>|</span><a href="javascript:void(0);">请登录</a><span>|</span><i></i><a href="javascript:void(0);">关注车巴巴</a>
    </div>
  </div>
  <div class="m-logo f-cb">
    <div class="f-fl">
      <i class="u-icon u-icon-logo"></i>
    </div>
    <ul class="f-fr f-cb m-list-logo-right">
        <li class="f-br padding-lr">
          <i class="u-icon u-icon-jzbj"></i>
          <span class="cc s-main">精准报价</span>
        </li>
        <li class="f-br padding-lr" >
          <i class="u-icon u-icon-hlhd"></i>
          <span class="cc s-main">海量活动</span>
        </li>
        <li class=" padding-l">
          <i class="u-icon u-icon-qfw"></i>
          <span class="cc s-main">全方位购车优惠</span>
        </li>
      </ul>
    <div>
      
    </div>
    <i></i>
  </div>
</div>
 <div class="g-body f-pr">
    <div class="m-information">
      <div class="m-info-title">
        <span class="tt s-lg f-w-md"></span>
      </div>
      <div class="m-questions">
        <div class="m-text">
          <p class="s-nm">尊敬的用户 <span class="s-color-r">XXX</span> 您好，</p>
          <p class="s-nm">感谢您对东风日产车巴巴的关注，为让你<span class="s-color-r">享受最新的金融方案</span>，拥有一个<span class="s-color-r">更好的金融购车体验</span>，</p>
          <p class="s-nm">建议您完善<span class="s-color-r">如下信息</span>，在线预审可知道贷款额度，非常感谢！！</p>
        </div>
        <div class="m-info-contents">
          <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">证件类型</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择证件类型</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">请选择证件类型</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">身份证</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">50%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">60%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">70%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">80%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">90%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">100%</a>
                </li>

              </ul>

            </div>
          </dd>
        </dl>
        <dl class="m-sign-row">
         <dt class="s-list-tt">证件号码</dt>
            <dd>
            <div class="f-ib">
              <input type="text" class="u-input-normal xg-tel" placeholder="请输入您的证件号码">
            </div>
              <span class="f-hd f-va-m u-xg-tips ">
                <i class="u-icon u-icon-lvdui"></i>
                <span class="s-sm s-color-r xg-msg-tel"></span>
              </span>
            </dd>
        </dl>
               <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">房产状态</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择房产状态</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">冻结</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">40%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">50%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">60%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">70%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">80%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">90%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">100%</a>
                </li>

              </ul>

            </div>
          </dd>
        </dl>
             <dl class="m-sign-row">
          <dt class="s-list-tt ">婚姻状态</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择婚姻状态</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">已婚</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">40%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">50%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">60%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">70%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">80%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">90%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">100%</a>
                </li>

              </ul>

            </div>
          </dd>
        </dl>
             <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">所属行业</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择您的行业</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">IT</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">40%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">50%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">60%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">70%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">80%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">90%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">100%</a>
                </li>

              </ul>

            </div>
          </dd>
        </dl>
             <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">职业</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择您的职业</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">程序员</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">40%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">50%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">60%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">70%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">80%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">90%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">100%</a>
                </li>

              </ul>

            </div>
          </dd>
        </dl>
             <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">公司性质</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择您的公司性质</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">国企</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">40%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">50%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">60%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">70%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">80%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">90%</a>
                </li>
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">100%</a>
                </li>

              </ul>

            </div>
          </dd>
        </dl>
      <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">学历情况</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择您的学历情况</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">本科</a>
                </li>
              </ul>
            </div>
          </dd>
        </dl>
        <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">工作年限</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择您的工作年限</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">3年</a>
                </li>
              </ul>
            </div>
          </dd>
        </dl>
        <dl class="m-sign-row">
          <dt class="s-list-tt f-va-">月收入</dt>
          <dd class="f-cb f-va-m">
            <div class="m-select-area">
              <div class="j-down u-div-select u-input-normal">
                <span class="s-main">请选择您的收入情况</span>
              </div>
              <ul class="j-areas u-box-areas u-box-areas-s">
                <li class="u-box-list-cc">
                  <a href="javascript:void(0);" class="s-sm">6000-10000</a>
                </li>
              </ul>
            </div>
          </dd>
        </dl>
        <dl class="m-sign-row">
          <dt></dt>
          <dd>
            <div class="m-box-btns">
              <span class="u-btn u-btn-bg-r u-btn-lg">提交在线申请</span>
            </div>
          </dd>
          <dd>
            <div class="m-box-btns">
              <a href="javascript:void(0);" class="j-pop2 s-anchor">不了谢谢</a>
            </div>
          </dd>
        </dl>
         </div>
       </div>
    </div>
  <!-- 右侧定位-->
  <div class="m-info-car">
    <div>
      <i></i>
    </div>
    <div class="m-info-img-upload">
      <img src="../../static/site/images/test/imgche_03.jpg" alt="">
    </div>
    <div class="tt">
      <span class="s-sm">
        新逍客 1.4T 双离合 230TSI 舒适型
      </span>
    </div>
    <div class="name">
      <span class="s-nm s-color-w">日产金融 </span><span class="s-nm s-color-w"> 5050福禄贷</span>
      <i class="yuano u-icon u-icon-yuano"></i>
    </div>
    <div class="tcc">
      <span class="s-main">首付金额</span><span class="s-main s-color-p">5.00万(50%)</span><span class="s-main">还款期限</span><span class="s-main s-color-p">12期</span>
    </div>
    <ul class="cc f-cb">
      <li class="f-br wr">
        <dl>
          <dt class="s-main">贷款金额</dt>
          <dd class="s-nm">18.52万</dd>
        </dl>
      </li>
      <li class="f-br wr">
        <dl>
          <dt class="s-main">月供金额</dt>
          <dd class="s-nm">16.52万</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt class="s-main">总利息</dt>
          <dd class="s-nm">2.50万</dd>
        </dl>
      </li>
    </ul>
  </div>
 </div>
<!-- 弹出层-->
<div class="m-cover"></div>
<!--专营店选择-->
<!--边框  -->
<div class="m-popupbg m-popupbg-2 j-jgk-ys"></div>
<!--内容-->
<div class="m-popup m-popup-2 j-jgk-ys">
 <div class="m-popup2-title">
  <div class="tt">
    <span class="s-md s-color-r">在线预审可以知道自己可贷款额度哦，要关闭吗？ <i></i></span>
  </div>


 </div>

  <div class="m-popup2-context">
    <span class="s-nm s-color-b4">这样你无法获得:</span>
    <ul class="cc f-cb">
      <li><img src="" alt=""><span class="s-nm">车型贷款额度</span></li>
      <li><img src="" alt=""><span class="s-nm">私人订制服务</span></li>
      <li><img src="" alt=""><span class="s-nm">最新金融活动</span></li>
      <li><img src="" alt=""><span class="s-nm">小秘书贴心服务</span></li>
    </ul>
  </div>

  <div class="m-popup2-foot">
   
   <div >
    <a class="u-btn u-btn-bg-r j-close " href="javascript:void(0);">继续测试额度</a>
    <a class=" j-close s-anchor f-ml34" href="javascript:void(0);">不了谢谢</a>
   </div>
  </div>

</div>
<script>
  //下拉框
  $('.m-select-area').on('mouseover',function(){
    $(this).find('.j-down').css({
      borderBottomColor:'#fff'
    })
    $(this).find('.j-down').children('.u-iconright').removeClass('u-icon-arrowdown').addClass('u-icon-arrowsup');
    $(this).find('.j-areas').show();
  }).on('mouseout',function(){
    $(this).find('.j-down').css({
      borderBottomColor:'#e2e2e2'
    })
     $(this).find('.j-down').children('.u-iconright').removeClass('u-icon-arrowsup').addClass('u-icon-arrowdown');
      $(this).find('.j-areas').hide();
  });
    //下拉列表改变值
  $('.j-areas li').on('click',function(){ $(this).parent().prev().find('span').html($(this).find('a').text());
    $(this).parents('.m-select-area').find('.j-down').css({
      borderBottomColor:'#e2e2e2'
    })
     $(this).parents('.m-select-area').find('.j-down').children('.u-iconright').removeClass('u-icon-arrowsup').addClass('u-icon-arrowdown');
      $(this).parents('.m-select-area').find('.j-areas').hide();
    
  });
  $('.j-pop2').on('click',function(){
     $("body").css({
        overflow:'hidden'
      })
      $(".m-cover").show();
      $(".j-jgk-ys").show();
  });
  $('.j-close').on('click',function(){
    $("body").css({
        overflow:'auto'
      })
      $(".m-cover").hide();
      $(".j-jgk-ys").hide();
  });
 
//  //姓名，手机号码验证
//  $('.xg-name').on('blur',function(){
//    $(this).formCheck(
//      {
//        checkModel:'nameCheck',
//        msg:'请输入正确的姓名',
//        emptyMsg:'姓名不能为空'
//      }
//	 );
//    var msg=$(this).attr('data-xg-msg');
//    if(this.resultBool){ 
//      //通过
//      $('.xg-msg-name').html('');
//      $('.xg-msg-name').prev().removeClass('u-icon-hongtan').addClass('u-icon-lvdui');
//      $(this).removeClass('z-input-error');
//    }else{ 
//      //没通过
//      $('.xg-msg-name').html(msg);
//      $('.xg-msg-name').prev().removeClass('u-icon-lvdui').addClass('u-icon-hongtan');
//      $(this).addClass('z-input-error');
//    }
//    $('.xg-msg-name').parent().show();
//  });
  
  //选择省市
 
</script>
</body>

</html>
