<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="viewport" id="viewport" content="width=400">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>公共留资成功页</title>
  <link href="../../static/site/css/page/global.css" rel="stylesheet">
  <script src="../../static/3rd/jquery/jquery.min.js"></script>
  <script src="../../static/site/js/lib/jquery.formCheck.js"></script>
  <!--[if lte IE 9]>
  <script src="lib/respond.min.js"></script>
  <script src="lib/html5shiv-printshiv.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="g-head">
  <div class="m-header f-cb">
    <div class="f-fl">
      <i></i><span class="s-sm">车巴巴服务热线：</span><span>400-830-8899</span>
    </div>
    <div class="f-fr">
      <i></i><a href="javascript:void(0);">请登录</a><span>|</span><a href="javascript:void(0);">请登录</a><span>|</span><i></i><a href="javascript:void(0);">关注车巴巴</a>
    </div>
  </div>
  <div class="m-logo f-cb">
    <div class="f-fl">
      <i class="u-icon u-icon-logo"></i>
    </div>
    <ul class="f-fr f-cb m-list-logo-right">
        <li class="f-br padding-lr">
          <i class="u-icon u-icon-jzbj"></i>
          <span class="cc s-main">精准报价</span>
        </li>
        <li class="f-br padding-lr" >
          <i class="u-icon u-icon-hlhd"></i>
          <span class="cc s-main">海量活动</span>
        </li>
        <li class=" padding-l">
          <i class="u-icon u-icon-qfw"></i>
          <span class="cc s-main">全方位购车优惠</span>
        </li>
      </ul>
    <div>
      
    </div>
    <i></i>
  </div>
</div>
 <div class="g-body f-pr f-ov">
    <div class="m-information">
      <div class="m-info-title">
        <span class="tt s-lg f-w-md"></span>
      </div>
      <div class="m-jr-success f-cb">
        <div class="m-jr-title ">
          <span class="s-md2">东风日产汽车金融网上预审批单</span>
        </div>
        <div class="m-jr-info">
        <div class="m-jr-border"></div>
         <table class="m-jr-table table" >
          <tr class="os">
            <td class="tt">预审结果</td>
            <td class="cc s-color-gr">
              <i class="u-icon u-icon-grdui"></i>
              恭喜您通过预审
            </td>
          </tr>
          <tr class="es">
            <td class="tt">
              预审批单号
            </td>
            <td class="cc">
              N240472003666687267
            </td>
          </tr>
          <tr class="os">
            <td class="tt">
              最大贷款额度
            </td>
            <td class="cc s-color-p">
              84560元
            </td>
          </tr>
          <tr class="es">
            <td class="tt">
              车型
            </td>
            <td class="cc">
              轩逸·经典 1.6 XE MT 舒适版
            </td>
          </tr>
          <tr class="os">
            <td class="tt">
              最低首付
            </td>
            <td class="cc">
              20%
            </td>
          </tr>
          <tr class="es">
            <td class="tt">
              可贷款年限
            </td>
            <td class="cc">
              5年
            </td>
          </tr>
          <tr class="os">
            <td class="tt">
              经销商
            </td>
            <td class="cc">
              广州市风日汽车贸易有限公司
            </td>
          </tr>
          <tr class="es">
            <td class="tt">
              电话
            </td>
            <td class="cc">
              020-86871222
            </td>
          </tr>
          <tr class="os">
            <td class="tt">
              地址
            </td>
            <td class="cc">
              广东省广州市花都区风神大道10号
            </td>
          </tr>
        </table>
        
        </div>
        <div class="m-jr-tips">
          <div class="tt ">
            <i class="u-icon u-icon-lantan"></i>
            <span class="s-sm s-color-p">温馨提示：</span>
          </div>
          <ul class="cc">
            <li class="s-sm s-color-b1">1) 请携带你的身份证。</li>
            <li class="s-sm s-color-b1">2) 请携带居住证明（房产证优先）、收入证明（最近6个月银行流水优先）、驾驶证明（驾照优先）。</li>
            <li class="s-sm s-color-b1">3) 您申请的贷款金额较高，请将你的申请材料递交到经销商处，审批人员将根据您提交的材料再次核准贷款额度。</li>
          </ul>
        </div>
<!--        <img src="" alt="">-->
        <div class="m-jr-car-info f-cb">
          <i class="u-icon u-icon-ball-left left"></i>
          <div class=" img f-img-hover">
            <img src="../../static/site/images/test/imgche_03.jpg" alt="">
          </div>
          <div class="c">
            <span class="tt ">轩逸·经典</span>
            <span class="cc">更多优惠信息尽在车巴巴</span>
          </div>
          <div class="c2">
            <i class="u-icon u-icon-right-r"></i>
          </div>
          <i class="u-icon u-icon-ball-right right"></i>
        </div>
      </div>
    </div>
  </div>

<script>
  
  //下拉框
 
//  //姓名，手机号码验证
//  $('.xg-name').on('blur',function(){
//    $(this).formCheck(
//      {
//        checkModel:'nameCheck',
//        msg:'请输入正确的姓名',
//        emptyMsg:'姓名不能为空'
//      }
//	 );
//    var msg=$(this).attr('data-xg-msg');
//    if(this.resultBool){ 
//      //通过
//      $('.xg-msg-name').html('');
//      $('.xg-msg-name').prev().removeClass('u-icon-hongtan').addClass('u-icon-lvdui');
//      $(this).removeClass('z-input-error');
//    }else{ 
//      //没通过
//      $('.xg-msg-name').html(msg);
//      $('.xg-msg-name').prev().removeClass('u-icon-lvdui').addClass('u-icon-hongtan');
//      $(this).addClass('z-input-error');
//    }
//    $('.xg-msg-name').parent().show();
//  });
  
  //选择省市
 
</script>
</body>

</html>
