{% extends 'wap/base/base.html' %}

{% set dealer = run(API.DEALER_BY_ID,dealer_id=sub_id) %}

{% set dealer_onsale_cartype = run(API.DEALER_ON_SALE_CAR_TYPES, dealer_id=sub_id, car_type=0, per_page=2, page=1) %}

{% block catalogsTitle %}
    {{city.city_name}}买{{dealer.cbb_car_brand_code|join(' ')}}找{{ dealer.dlr_short_name }}({{ dealer.service_tel }})
{% endblock %}
{% block catalogsDesc%}
  <meta name="Keywords" content="{{ dealer.dlr_short_name }},{{city.city_name}}经销商{{ dealer.dlr_short_name }},{{city.city_name}}4s店{{ dealer.dlr_short_name }},{{ dealer.service_tel }}">
  <meta name="description" content="{{ dealer.dlr_short_name }}主营品牌为{{dealer.cbb_car_brand_code|join(' ')}}，经销商地址：{{dealer.province_name}}{{city.city_name}}{{ dealer.county_name }}{{ dealer.cont_address }}，联系电话为{{ dealer.service_tel }}，{{city.city_name}}买{{dealer.cbb_car_brand_code|join(' ')}}找{{ dealer.dlr_short_name }}。">
{% endblock %}

{% block js %}
  <script>
    //在售车型
    var onSaleCarOps = {
      url:'{{rest(API.DEALER_ON_SALE_CAR_TYPES)|safe }}',
      param:{dealer_id:{{sub_id}},car_type:0,per_page:4,page:2}
    }
    //数据
    var pythonData = {
      dealerName:'{{dealer.dlr_full_name}}',
      dealerLa:'{{dealer.latitude}}',
      dealerLo:'{{dealer.longitude}}',
      onsaleJson:{{ dumps_json(dealer_onsale_cartype)|safe }},
      dealerId:'{{sub_id}}',
      cityAlias:'/{{city.city_alias}}',
      getTypeUrl:'{{ rest(API.CAR_TYPES_BY_CAR_SERIES_ID) }}',
      getTypePrice:'{{ rest(API.FINANCE_DEALER_CAR_TYPES_PRICE) }}'
    }
  </script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BMvPNolfzSZK2FTuPPk0i9Lp"></script>
  <script type="text/javascript" src="{{ static('wap/site/js/page/sotre_detail.js') }}"></script>
{% endblock %}
{% block hd_title%}找好店{% endblock%}
{% block body %}
  {% if dealer %} 
  {# {{dumps_json(dealer_onsale_cartype)}} #}
    <div class="g-wrap store-detail-wrap">
      <div class="m-shops">
        <div class="shop2">
          <div class="title">
            <div class="al">
              {% if dealer.is_vip == 1 %}
              <span class="s-color-main">vip</span>
              {% endif %}
              {{ dealer.dlr_short_name }}
              <span class="s-color-secondary u-score">{{ '%.2f'|format(dealer.after_sales_score) }}分</span>
            </div>
            <div class="fr">
            {% if dealer.is_sale_province == 1 %}
              <div class="u-store-lab">售本省</div>
            {% endif %}
            </div>
          </div>
          <p class="info f-mar-top">
            {% if dealer.cont_address %}
            地址：{{ dealer.cont_address }}
            {% else %}
            地址：/
            {% endif %}
          </p>
          <p class="info">
            电话：{{ dealer.service_tel }}
          </p>
          {% if dealer.cbb_car_brand_code %}
          <p class="info">
            品牌：
              {% for brand_code in dealer.cbb_car_brand_code %}
              <span>{{ brand_code }}</span>
              {% endfor %}
          </p>
          {% endif %}
          <div class="m-btns2">
            <a class="u-btn u-btn-default j-href f-mr-r-percent" href="{{ city_url('site.left_data') }}?key=NV-Chebabanew-wap-V2-Ch-Le-PoC-Msg1-01-0000&dealer_id={{sub_id}}&clueType=7">获取优惠</a>
            <a  class="u-btn u-btn-default j-href" href="{{ city_url('site.left_data') }}?key=NV-Chebabanew-wap-V2-Ch-Le-PoC-Msg3-01-0000&dealer_id={{sub_id}}&clueType=2">预约试驾</a>
          </div>
          <div class="more-info">
            <div id="J-distance" class="distance"></div>
            <a id="J-go" class="go" href="javascript:;">到这去</a>

          </div> 
        </div>
        {% if dealer.dealer_activity_list %}
        
        <a class="u-couponLink f-nbb f-ge j-toSale" href="{{dealer.dealer_activity_list[0].url}}">
          <h3 class="fl">
            <img class="coupon" src="/static/images/lib/coupon.png" alt="">
          </h3>
          
          <div class="am">
            <p>{{ dealer.dealer_activity_list[0].activity_title }}</p>
            {# <p>{{ dealer.dealer_activity_list[0].activity_content|safe }}</p> #}
            {% if dealer.dealer_activity_list[0].activity_begin_date %}
              <p class="s-color-font-light">{{ dealer.dealer_activity_list[0].activity_begin_date.strftime('%Y{0}%m{1}%d{2}').format(*'年月日') }}至{{ dealer.dealer_activity_list[0].activity_end_date.strftime('%Y{0}%m{1}%d{2}').format(*'年月日') }}</p>
            {% endif %}
          </div>
          
          <div class="fr">
            <i class="u-icon u-icon-right"></i>
          </div>
        </a>
        
        {% endif %}
        {# 0, 1, 2, 3, 4对应全部，两厢，三厢，SUV，进口 #}
        {% set carTab = run(API.DEALER_OFFICAL_CAR_INFO,dealer_id=sub_id) %}
        <div id="c-onSaleCar" v-cloak>
          <ul class="m-tabNav f-cb j-tab count{{carTab.official_info_count+1}}">
            <li class="active" data-type='0'>
              <a href="javascript:;" >全部</a>
            </li>
            {% for voCarTab in carTab.official_info_list%}
            <li data-type='{{voCarTab.official_level_id}}'>
              <a href="javascript:;" >{%if voCarTab.official_level_id == '1'%}三厢{%elif voCarTab.official_level_id == '2'%}两厢{%elif voCarTab.official_level_id == '4'%}进口{%else%}{{voCarTab.official_level_name}}{%endif%}</a>
            </li> 
            {% endfor %}
          </ul>
          <div class="m-tabContent-wrap [%items.length%]"> 
            <div class="u-loading" v-if="!items.length"></div>          
            <ul class="m-tabContent J-tab-ul">
              <li v-for="voCar in items" data-flag="[%voCar.series.name%]">
                <h3 class="tit">
                  [%voCar.series.name%] 
                  <a class="car-type j-change" data-series="[%voCar.series.id%]" data-name="[%voCar.series.name%]">
                    <span>[%voCar.type_list[0].name%]</span>
                    <i class="select-icon"></i>
                  </a>
                </h3>
                {# <p class="u-tag">购置税减半</p> #}
                <div class="img">
                  <img src="{{ static('wap/site/images/lib/pic_loading.jpg') }}" data-lazy="[%voCar.series.imgs[0].CDNPATH%]" alt="[%voCar.series.brand.name%][%voCar.series.name%]"> 
                </div>
                <div class="price"> 
                  <div class="l">优惠价：
                    <span class="j-price s-color-main">[%(voCar.type_list[0].offer_price.price/10000).toFixed(2)%]万</span>
                  </div>
                  <div class="r">官方指导价：
                    <span class="j-guide s-color-font-right">[%(voCar.type_list[0].offer_price.guide_price/10000).toFixed(2)%]万</span>
                  </div>
                </div>
                <div class="m-btn-wrap m-btns2">
                  <a class="j-three u-btn u-btn-default f-mr-r-percent" data-key="NV-Chebabanew-wap-V2-Ch-Le-PoC-Msg1-02-0000" data-series="[%voCar.series.id%]" data-type="[%voCar.type_list[0].id%]" href="javascript:;">询价</a>
                  <a class="j-three u-btn u-btn-default" data-key="NV-Chebabanew-wap-V2-Ch-Le-PoC-Msg3-02-0000" data-series="[%voCar.series.id%]" data-type="[%voCar.type_list[0].id%]" href="javascript:;">试驾</a>
                </div>
                <a v-if="voCar.activity_list != ''" class="u-hotLink j-toSale f-nbb" href="/{{city.city_alias}}[%voCar.activity_list[0].url%]">
                  <h3 class="text">
                    <i class="label labelx">享</i>
                    [%voCar.activity_list[0].activity_title%]
                  </h3>
                  <i class="u-icon u-icon-right" ></i>
                </a>
              </li>
            </ul>
            <div class="J-get-more"></div>
            {# 待删除 #}
            {#<ul class="m-tabContent">
              {% for dealer_car in dealer_onsale_cartype %}
              {% if dealer_car and dealer_car.type_list %}
              {% set car_types = run(API.CAR_TYPES_BY_CAR_SERIES_ID,car_series_id=dealer_car.series.id) %}
              <li data-flag="{{ dealer_car.series.name }}">
                <h3 class="tit">
                  {{ dealer_car.series.name }}
                  <a class="car-type j-change" data-series="{{dealer_car.series.id}}" data-name="{{ dealer_car.series.name }}">
                    <span>{{ car_types[0].name[dealer_car.series.name|length():] }}</span>
                    <i class="select-icon"></i>
                  </a>
                </h3>
                <p class="u-tag" style="display:none">购置税减半</p>
                <div class="img">
                  {% if dealer_car.type_list[0].imgs %}
                  <img src="{{ static('wap/site/images/lib/pic_loading.jpg') }}" data-lazy="{{ dealer_car.type_list[0].imgs[0].CDNPATH }}" alt="">
                  {% endif %}
                </div>
                <div class="price"> 
                  <div class="l">
                    优惠价：
                    <span class="j-price s-color-main">{{ '%.2f'|format(dealer_car.type_list[0].offer_price.price/10000) }}万</span>
                  </div>
                  <div class="r">
                    官方指导价：
                    <span class="j-guide s-color-font-right">{{ '%.2f'|format(dealer_car.type_list[0].guide_price/10000) }}万</span>
                  </div>
                </div>
                <div class="m-btn-wrap m-btns2">
                  <a class="j-three u-btn u-btn-default f-mr-r-percent" data-key="NV-Chebabanew-wap-V2-Ch-Le-PoC-Msg1-02-0000" data-series="{{dealer_car.type_list[0].car_series_id}}" data-type="{{dealer_car.type_list[0].id}}" href="javascript:;">询价</a>
                  <a class="j-three u-btn u-btn-default" data-key="NV-Chebabanew-wap-V2-Ch-Le-PoC-Msg3-02-0000" data-series="{{dealer_car.type_list[0].car_series_id}}" data-type="{{dealer_car.type_list[0].id}}" href="javascript:;">试驾</a>
                </div>
                {% if dealer_car.activity_list %}
                <a class="u-hotLink j-toSale f-nbb" href="/{{city.city_alias}}{{ dealer_car.activity_list[0].url }}">
                  <h3 class="text">
                    <i class="label labelx">享</i>
                    {{ dealer_car.activity_list[0].activity_title }}
                  </h3>
                  <i class="u-icon u-icon-right" ></i>
                </a>
                {% endif %}
              </li>
              {% endif %}
              {% endfor %}
            </ul>#}         
            </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="g-slider-fix">
    <div class="m-changeCar">
      <div class="u-title-ver title">
        <div class="tit">更换车型</div>
      </div>
      <ul class="cars">
        
      </ul>
      <div class="back j-back"> 点击此处返回 
        <span class="icon"><i class="u-icon u-icon-left-white"></i></span>
      </div>
    </div>
  </div>
{% endblock %}