
.df_logo {
	margin: 4px;
	padding: 0;
	/*width: 75px;*/
    width: 112px;
	height: 36px;
}

.breadcrumb {
    background-color: #fff;
}

.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "> ";
    padding: 0 5px;
}

.api_title {
    cursor: pointer;
}

.api_no_data {
    color: #cc0000;
    font-weight: 900;
    font-size: 16px;
}

.api_result {
    background-color: #eeeeee;
}
